[2016-06-11 11:43] ykptke opened #1 "I don't understand how to use isValidated() method"
I can't access refs.component isValidated() method from step component. please help me

[2016-06-14 05:37] newbreedofgeek commented on #1
@ykptke sorry my example code in the src/examples directory is bad. I will post a better example soon.

But in the Step component, if you need validation then you should expose a isValidated() method that return true (if form input is valid) or false (if form input is not valid).

StepZilla will check for the existence of a isValidated() method is a Step component, if found it then will validate t

[2016-06-14 06:35] ykptke commented on #1
@newbreedofgeek thanks. :+1:  I look forward to your example

[2016-06-14 23:08] newbreedofgeek commented on #1
@ykptke I pushed 1.7.0 (4182509 ) to master and npm. It has a complete working example in `src/examples`

You can run it in the browser like so:
- run `npm install`
- then run `npm run example`
- then go to `http://localhost:8080/webpack-dev-server/src/examples/index.html` in your browser

Hope this helps you.

[2016-06-14 23:10] #1 closed

[2016-07-28 23:58] younanjo opened #2 "nextTextOnFinalActionStep misses the mark"
When enabling nextTextOnFinalActionStep="Submit" the previous steps are also changed to "Submit" where they should have remained "Next".

[2016-07-29 00:02] newbreedofgeek commented on #2
@younanjo let me check.

[2016-07-29 01:40] newbreedofgeek commented on #2
@younanjo i've confirmed its NOT an issue and it works. I've updated the example app to show you how. Check out [ae7ee701cf09f8a95efb41078df37310d509f147].

Make sure you update to 1.9.1

[2016-07-29 01:42] #2 closed

[2016-09-21 14:07] BesatZardosht opened #3 "I get an error using the component"
I added the component:

`const StepZilla = require('react-stepzilla');
`

And my render method:
[code]

I get this error:
`React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components)`

[2016-09-22 01:13] newbreedofgeek commented on #3
I'm not sure you can create components like this in React (i.e. create components inside a render method of another component ) - which is why you are getting that error. When <stepOne /> is rendered React looks for its render method which should have a <div> as the root.

Have a look at the example for how you should be using StepZilla:
https://github.com/newbreedofgeek/react-stepzilla/blob/maste

[2016-09-26 06:28] newbreedofgeek commented on #3
Closing this off as a question as I didn't hear back and it was not an issue.

[2016-09-26 06:28] #3 closed

[2016-11-12 03:43] FelixLeChat opened #4 "Unknown prop `jumpToStep`"
warning.js:36Warning: Unknown prop `jumpToStep` on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop

seem to be on the components in the steps

[code]

[2016-11-16 05:58] newbreedofgeek commented on #4
@FelixLeChat from the top of my head, the "components" you send into "steps" needs to be React components (they cant be just HTML or react pure components i.e. they need to be created by extending Component from React). This could be why you are getting the react error although I'm sure it works on the UI.

You can do this instead:

[code]

[2016-11-16 12:17] FelixLeChat commented on #4
Thank for the response.

This fixed my issue.

[2016-11-16 14:57] dsun29 opened #5 "How to submit a form when clicking 'Next' button?"
How to submit a form when clicking Next button? Or submit a form when clicking last Next button?

[2016-11-16 22:29] newbreedofgeek commented on #4
Good luck.

[2016-11-16 22:29] #4 closed

[2016-12-05 22:52] newbreedofgeek commented on #5
Sorry for the very late reply @dsun29 .

I've updated the example to show you how you can handle the Save/Submit. Usually you do the save in the "one before last" step which is usually the "Review" step. The final step should be your "Thank you for saving step".

Here is the code change, I've commented the relevant React component with what is happening:
https://github.com/newbreedofgeek/react-ste

[2016-12-05 22:52] #5 closed

[2017-01-23 22:23] stevecawdery opened #6 "Able to Skip past Validation Steps"
I noticed I can skip right to Step 4 from the overhead step options, even though Step 2 (let's take it from the example) requires form input - if I'm on step 2 it works fine, but if i'm on step 1 or 3 i can skip through. Is there a simple way to solve this?

[2017-01-23 22:25] newbreedofgeek commented on #6
mmm.. this may be a bug. Let me have a look today.

[2017-01-25 05:41] #6 closed

[2017-01-25 05:52] newbreedofgeek commented on #6
@stevecawdery it was indeed a bug, thanks for raising this.

I have redone most of the logic relating to validation control when enabled via `showNavigation: true` and `stepsNavigation: true`

This will now prevent the user from jumping into a step ahead when a step in between has not been validated. But it will let them jump backwards.

Let me know how you go.

Also, I completely rewrote the exam

[2017-01-26 18:27] aaronfranco opened #7 "Module Not Found"
There is no "dist" folder in the NPM package so the module can't be used in a project.

[2017-01-26 21:58] newbreedofgeek commented on #7
@aaronfranco tnx for raising this. Did an upgrade 2 days ago... this bug slipped in, fixing now.

[2017-01-26 22:30] #7 closed

[2017-01-26 22:34] newbreedofgeek commented on #7
@aaronfranco fixed now. npm update and it will now work. tnx!

[2017-01-27 04:05] newbreedofgeek commented on #7
I've also added a link working example: https://newbreedofgeek.github.io/react-stepzilla/

[2017-01-27 04:06] newbreedofgeek commented on #6
I've added a live working example https://newbreedofgeek.github.io/react-stepzilla/

[2017-01-27 18:42] jorgecuesta opened #8 "Async step validation"
Hi, first of all, great work. I start to use it and let more easy my life ;)

I need to make some validation with backend service in step component. What should I return on validated method ? maybe you can support a Promise.

[2017-01-30 00:36] newbreedofgeek commented on #8
@jorgecuesta tnx. Glad you find this useful.

Yes I agree, the validation should support aync validation as well.

At the moment is only support sync validation. You return "true" to indicate that its valid and "false" if its not valid. Not returning anything (i.e. undefined) is treated as "true". The logic is here:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L170

Le

[2017-01-30 06:32] newbreedofgeek commented on #8
@jorgecuesta I've updated the validation to support Promises :)

Here is how you can use it:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step3.js#L22

It's in version 4.0.0 so make sure you `npm update`

[2017-01-30 14:22] jorgecuesta commented on #8
Thanks @newbreedofgeek by the quick solution 👍

[2017-01-30 14:36] jorgecuesta commented on #8
One note about async validation. Usually reject is used to handle wrong path like invalid state or error response.
I think the it should be resolve() for valid state and reject() for invalid state.
You don't  really need a boolean value.

[2017-01-30 15:50] muhilham opened #9 "Support Stateless Pure Components"
I got this error while implement it on stateless component

`Warning: Stateless function components cannot be given refs (See ref "activeComponent" in ProductForm created by StepZilla). Attempts to access this ref will fail.`

[2017-01-30 22:07] newbreedofgeek commented on #9
Hi @muhilham unfortunately you cannot use stateless pure components due to the fact that StepZilla clones the step components to append a ref so we can provide the jumpToStep() utility method. ref only works when you inherit from React Component (this is why pure components are not supported at the moment).

In future we can enable a config param to disable this behaviour. i.e. disableJumpToStep =

[2017-01-30 22:09] newbreedofgeek commented on #8
Agree, I didn't use reject() due to a composability issue I had. But it is the right way to return false in this instance. Reopening this, I'll take a look when I have some time.

[2017-01-30 22:11] newbreedofgeek opened #10 "When a Promise is returned, prevent click spam on next button"
When a Promise is returned we should have a way to disable the next button as to prevent click spam. This can be done within the component by using local state and ignoring calls to the isValidated() method but ideally this should be handled as core functionality.

[2017-01-30 23:15] #8 closed

[2017-01-30 23:20] newbreedofgeek commented on #8
@jorgecuesta it now supports resolve() and reject() correctly. Please try and let me know if any issues.

[2017-01-31 15:57] jorgecuesta commented on #8
@newbreedofgeek Thanks again! you became my hero! 👍
Now I wanna ask you if have a way to set Next button as disabled before component report a right validation state.
If you want I can open a new issue and can tag it as enhancement.

[2017-01-31 20:18] jorgecuesta opened #11 "Catch on Promises silent other errors"
Hi @newbreedofgeek me again. Yours .catch are silent other errors on components used as steps don't be raised.
Try follow. Make a component with a development error, like use an undefined as function and should get it reproduced.

[2017-01-31 20:45] jorgecuesta opened #12 "jumpToStep issue"
Hi again... when use jumpToStep on lastStep (where apply nextTextOnFinalActionStep to footer button) step target of jumpToStep render same text as nextTextOnFinalActionStep.

It happen inclusive in your live demo example. You can see if click next button on step target will say Save in place of Next.

[2017-01-31 20:53] jorgecuesta commented on #12
I find where the issue is... checkNavState method never restore next button text. Try doing jumpToStep(0) and will get on currentStep === 0 where if you already be on last step text of button is switched.

Maybe if you calculate text in place of save it on state this should not be necessary.

[2017-01-31 22:02] newbreedofgeek commented on #8
Yes @jorgecuesta , pls open a new issue as a enhancement.

[2017-01-31 22:06] newbreedofgeek commented on #12
Yep, I've added this as a bug.

[2017-01-31 22:09] newbreedofgeek commented on #11
I'm sorry, I don't follow. Can you please give me more detail.

[2017-01-31 22:16] jorgecuesta commented on #11
When you build your component pass an array of steps:
[code]
Right? ok now suppose that MyStepTwo have an error like use a dependency that not import before, or just use a function that is not defined, whatever.

When render step one all be fine, but when try to go next step of course wrong coded component (MyStepTwo) raise an error and all those errors are catch by .catch() handler inside main.js

[2017-01-31 23:20] jorgecuesta opened #13 "New Feature: Next Disabled"
Hi @newbreedofgeek can you add a way to make that Next Button be disabled before component report a valid state?

[2017-02-06 16:50] dsun29 opened #14 "Question - Show step titles in small screen"
Stepzilla shows only step numbers (1, 2,3, etc,) and hide step titles in small screens. How can we make it still show step titles/texts?

[2017-02-06 23:46] newbreedofgeek commented on #14
@dsun29 This is just a CSS setup. If you are using the default CSS you will notice here:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/css/main.css#L19

That the title is hidden for smaller screens.

You can overwrite that in your CSS to show the title and maybe reposition or rotate the labels.

It is difficult as your wont have much screen real estate but its up to you, as you

[2017-02-07 00:38] #11 closed

[2017-02-07 00:41] newbreedofgeek commented on #11
@jorgecuesta this was indeed a bug. The Promise was swallowing all errors as a React component loaded when you moved to a Step with an JS Error. I have used a known trick to pull naive errors out of the current execution stack and it seems to work well.

It will now just throw the native error and break (as a JS app should break)

Give it a go and let me know if you see any other issues.

[2017-02-07 00:42] newbreedofgeek commented on #13
Good idea, I will fit this in at some point soon.

In the meantime, just keen a local state on if you clicked next/save and do not process another click based on this.

[2017-02-07 17:36] jorgecuesta commented on #11
Thanks, I will let you know asap!

[2017-02-09 16:38] dsun29 commented on #14
It does help! Thank you for your info.

[2017-02-09 22:04] #14 closed

[2017-02-09 22:29] #12 closed

[2017-02-09 22:31] newbreedofgeek commented on #12
@jorgecuesta I've fixed this as well. Pls let me know if its works for you and if there is any regression. Thanks for your help in finding these bugs.

[2017-02-13 08:24] wassimz commented on #9
@newbreedofgeek
Can we use a wrapped component. I am using the react-validation-mixin to validate the form input an as a setup we need to wrap the component around the selected strategy. It seems that the isValidated() method not applied ??

[2017-02-13 20:58] newbreedofgeek commented on #9
@wassimz it should be possible or I can have a look. Can you give me an example code on your StepZilla initialisation (with your wrapper), so I can reproduce the issue and fix.

[2017-02-15 02:19] newbreedofgeek opened #15 "Support for Higher Order Components"
@newbreedofgeek
Can we use a wrapped component. I am using the react-validation-mixin to validate the form input an as a setup we need to wrap the component around the selected strategy. It seems that the isValidated() method not applied ??

[2017-02-15 02:20] newbreedofgeek commented on #9
@wassimz I have created a new issue for your requirement #15

[2017-02-15 10:42] wassimz commented on #9
Hi @newbreedofgeek
I have tried to create an example (you can see it on my fork project (https://github.com/wassimz/react-stepzilla/blob/master/src/examples/Step22.js) but still not able to make it run (I am novice on react programming). So you can have a look on it and see how can I make it run.

Thanks

[2017-02-15 12:45] wassimz commented on #15
Hi @newbreedofgeek
I have tried to create an example (you can see it on my fork project (https://github.com/wassimz/react-stepzilla/blob/master/src/examples/Step22.js) but still not able to make it run (I am novice on react programming). So you can have a look on it and see how can I make it run.

Thanks

[2017-02-15 22:21] newbreedofgeek commented on #15
Ok, let me take a look.

[2017-02-16 13:58] JimVercoelen opened #16 "Impossible to get next/save button in the last step?"
Is it possible to have a next button in the last step?

If I look at the demo, 'step 4' has one, but I just cannot get the same result for some reason?

[2017-02-16 22:28] newbreedofgeek commented on #16
@JimVercoelen usually the idea with a "wizard" tool like StepZilla is to collect data through a series steps and on the step before the last (Step 3 in the example), have the user "Review" their data and "Save" it. The last step is usually a "Thank You" message after saving to server is complete (like Step 4 in the example)

The final step is where the Wizard ends so there is no "next" step needed

[2017-02-16 23:55] #9 closed

[2017-02-16 23:58] newbreedofgeek commented on #9
@muhilham I've added support for Pure Components in react-stepzilla@4.2.0. Check out this file for how - https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step2.js

[2017-02-17 19:47] JimVercoelen commented on #16
Ah that's to bad.

The purpose was to submit every thing on the last step and redirect to another part of the application.

Maybe if you'll get bored once, you can edit it ;-p,
for me it was limited so I had to use something else.

[2017-02-18 10:36] newbreedofgeek commented on #16
You can still do that using StepZilla, once your save was successful just redirect to your own Component in the componentDidMount() of the final StepZilla step.

e.g.

So in the example code as per here:
https://newbreedofgeek.github.io/react-stepzilla/

In Step4 which is the "Review" step, when you hit the "Save" button, it will go to Step5. In the Step5 component just tap into the componentDidMo

[2017-02-18 10:36] #16 closed

[2017-02-19 10:38] wassimz commented on #15
@newbreedofgeek
Any update on this issue ??

[2017-02-19 22:12] newbreedofgeek commented on #15
@wassimz I'm looking at this now...

[2017-02-19 22:51] newbreedofgeek commented on #15
@wassimz I had look and it's indeed possible to support react-validation-mixin with StepZilla.

But it needs an upgrade to the core library. I'm hoping to push this put in the next few days as I need to test it for backward compatibility.

[2017-02-19 23:00] wassimz commented on #15
@newbreedofgeek
Thanks for your effort and time. Any hint or possibility to have a temporary fix as it's blocking me now for my project.

Thanks

[2017-02-20 17:12] avivr opened #18 "Steps styles are not correct when using 'startAtStep' prop"
When using startAtStep prop, the stepper looks like you are in the first step.
First step in 'in-progress' state, and all other steps seems to be in 'todo' state (style-wise, grey color).

Fixed by PR #17

[2017-02-20 17:30] avivr commented on #18
Also applied to prev/next buttons state

[2017-02-20 22:30] newbreedofgeek commented on #18
@avivr tnx for raising bug an issuing pull.

I will review and merge it in :)

[2017-02-20 23:12] newbreedofgeek commented on #15
@wassimz I'm worked out how to it and am making the change now, the tricky part now is making it backwards compatible. I should be able to push a new version of StepZilla by tomorrow with the fix.

[2017-02-22 03:26] newbreedofgeek commented on #15
@wassimz sorry, my update broke the core functionality. It's a bit more complicated then I planned.

I should be able to work it out by tomorrow. There is some work in progress that I've checked in:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step4.js

I've updated your code to fix some issues and allow for StepZilla integration. It does nto fully work yet but I shou

[2017-02-22 06:40] wassimz commented on #15
Excellent @newbreedofgeek. Thanks for the time and effort you spent on my issue.
:)

[2017-02-22 23:16] #15 closed

[2017-02-22 23:19] newbreedofgeek opened #19 "Steps that use react-validation-mixin validate on back move from top menu"
If a step uses react-validation-mixin for validation, and use the top nav to navigate backwards it validated the form and throws errors.

navigating backwards via the top menu should not validate and save the form.

[2017-02-22 23:22] newbreedofgeek commented on #15
@wassimz give it a go :)

You need version 4.3.0 so do a npm update.

full working code is in:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step4.js

Don't forget the new setting 'hocValidationAppliedTo' which is required when using react-validation-mixin
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Example.js#L57

as per README:
`
// its

[2017-02-23 22:40] newbreedofgeek opened #20 "applyValidationFlagsToSteps is checking for private _isValidated() method"
This is incorrect as StepZilla needs a sValidated public method to work. This is an artefact due to the public/private coding style I initially used. It needs to go...

[2017-02-23 22:51] #20 closed

[2017-02-23 22:55] newbreedofgeek commented on #19
This also seems to causing another issue.

repro:
- go through all the steps and submit
- from the final step use the top nav to jump to step 4 (the one that uses react-validation-mixin)
- now jump back to final step, it says that something has changed and needs to be resubmitted

[2017-03-01 23:53] #18 closed

[2017-03-01 23:57] newbreedofgeek commented on #18
fixed thanks to PR #17

[2017-03-05 23:19] #19 closed

[2017-03-12 22:39] newbreedofgeek opened #21 "When you only have 2 Steps, nextTextOnFinalActionStep does not work"
You can only update the nextTextOnFinalActionStep if you have 3 or more steps. This is most probably a bug, but not a major issue as most people will have more than 2 steps.

[2017-03-21 02:52] darshan-raj opened #23 "Custom buttons"
Hi @newbreedofgeek is it possible to configure custom controls for the previous and next buttons?

[2017-03-21 22:28] newbreedofgeek commented on #23
@darshan-raj unfortunately not.

They are standard buttons at this stage as you can see:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L305

May I know what kind of custom components do you want to use? and what's your use case?

If it's a valid scenario then I can put this down as an enhancement or I may be able to suggest an alternative.

[2017-03-30 15:47] patoaesteve commented on #23
Hi @newbreedofgeek , is it possible to change the text of the buttons? I'm from Latin America, and i need it in Spanish, with other legend.

Thks!

[2017-03-30 21:34] smattt opened #24 "License"
Thank you for donating your time and talent to this project, I appreciate your efforts.

I've started using and modifying the code for a project and it's going well. However, I wasn't able to find the licensing terms for your code and I was wondering if you could please clarify what they are. I want to be sure that I'm not violating your license :)

Thank you for your help

[2017-03-30 22:32] newbreedofgeek opened #25 "Custom Button Text"
Hi is it possible to change the text of the buttons? I'm from Latin America, and i need it in Spanish, with other legend.

Thks!

[2017-03-30 22:33] newbreedofgeek commented on #23
@patoaesteve This is a valid case. I have raised this as a new feature (#25) and am working on it today.

[2017-03-30 22:34] newbreedofgeek commented on #23
@darshan-raj as I'm not heard from you on your use case. I'm closing this for now. You can reopen it if needed and provide some more detail on your use case. Tnx.

[2017-03-30 22:34] #23 closed

[2017-03-30 23:10] newbreedofgeek commented on #24
@smattt glad you enjoy this project.

It is under the ISC License
- https://github.com/newbreedofgeek/react-stepzilla/blob/master/LICENSE.md

Best of luck with your projects.

[2017-03-30 23:10] #24 closed

[2017-03-30 23:56] newbreedofgeek commented on #23
@patoaesteve I've added this feature for you. Pls see #25 and test and let me know if it works.

Remember you need to do a npm update to get the latest version (v4.4.4)

[2017-03-31 12:28] patoaesteve commented on #25
Thanks @newbreedofgeek !I'll test it today!

[2017-04-01 12:33] arifsohail opened #26 "passing Data"
how can i pass data from one step to another. can i use props.getStore(). to store and change the values.

[2017-04-02 23:36] newbreedofgeek commented on #26
@arifsohail - It's up to you how you want to maintain state. There are multiple options like Redux, Flux etc or you can have your own custom store approach like what've shown in the example. i.e

In my main app file, I create a simple object store:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Example.js#L17-L20

I then have getStore and updateStore methods:
https://gi

[2017-04-03 04:29] arifsohail commented on #26
thanks a lot. i guess redux will work nicely

[2017-04-03 23:34] #26 closed

[2017-04-04 00:13] newbreedofgeek opened #27 "Direct Steps Navigation to un-validated react-validation-mixin step fails"
Version: 4.4.4

Steps to repro:

1. Jump to Step 3 (this steps uses basic form validation) - it will work
2. Jump back to Step 1 - it will work
3. Jump to Step 4 - it won't work as Step 3 needs to pass validation (intended behaviour)
4. Jump to Step 3, fill the form and Jump to Step 4 - this will validate the form and it will jump to step 5. Jump back to Step 1 - it will work
6. Jump back to Step

[2017-04-05 05:16] arifsohail opened #28 "Hiding navigation buttons in some steps"
hi, i  have a form and i want next and previous navigation buttons in some steps, while  in some steps i dont want them to show,
i defined showNavigation false in step 2 as follow
i did following but it didnt work
const steps=[
    {name: 'Step 1', component: <Step1   getStore={() => (this.getStore())} /> },
    {name: 'Step 2', component: <Step2  showNavigation={false} getStore={() => (this.getSt

[2017-04-05 05:56] newbreedofgeek commented on #28
@arifsohail showNavigation is a setting for the entire StepZilla configuration. You can't use it for individual steps.

e.g.
 `<StepZilla steps={steps} showNavigation={false} />`

Not sure why you want to turn off/on the next and previous buttons for certain steps but at this stage this is not supported by StepZilla via Config (as its a wizard component and Next and Prev buttons are the basic elem

[2017-04-05 06:41] arifsohail commented on #28
thanks a lot, actually i was converting a pre build wizard into steps zilla components. ur component is working fine and producing my desired results. i need to revise the logic of steps i define
regards.

[2017-04-05 17:03] gtwilliams03 opened #29 "Cannot seem to get isValidated to work with ES6 React Component"
I always hate to open an issue (and rarely do), but I have been banging my head against this for a long time now and I just can't seem to get the isVaildated() function to stop the user from hitting enter or hitting the next button when validation is failing:

Example component (I am using Redux so the siteRegistration object includes all of the user account registration data and booleans for whet

[2017-04-05 17:37] gtwilliams03 commented on #29
Figured it out.  The only difference between your example and my test was the use of the Redux @connect decorator.  I pulled out the connect props and fed the props in manually inside the main component and all is working.  Sorry for the trouble!

Here is what the new component looks like
[code]

Then, in the main component, the `steps` array for the `StepZilla` component is a little heavier becau

[2017-04-05 17:37] #29 closed

[2017-04-05 23:19] stanleycyang opened #30 "startAtStep does not work"
It always starts at step 1 (index 0) regardless of the number that is plugged into `startAtStep`,

[2017-04-06 01:01] newbreedofgeek commented on #30
@stanleycyang I've confirmed that this works fine in 4.4.4

Update the example code as below and it starts at Step 3.

[code]

[2017-04-06 01:06] newbreedofgeek commented on #29
Glad you worked it out...

[2017-04-06 01:37] newbreedofgeek commented on #28
Good luck...

[2017-04-06 01:37] #28 closed

[2017-04-13 06:36] arifsohail opened #31 "Styling the buttons"
i have  a question. i want to customize the next and previous button to match my layout. can i resize the buttons also please guide if i can manipulate the length of navigation bar

[2017-04-13 11:01] ibrhmckc opened #32 "Editing Steps"
It does not work when I change the contents of step1.js or step2.js  etc. I can get the result I want when I change the content in bundle.js. Does not it need to change when I change the contents of Step1.js?

[2017-04-14 06:01] arifsohail commented on #28
.step3 ~ div.footer-buttons {display: none}  work exactly right with a particular step thanks a lot

[2017-04-14 08:46] #32 closed

[2017-04-14 10:03] arifsohail commented on #31
actually i succeeded  in customizing a button style by editing in the css file
button.btn-prev.btn-primary.btn-lg.pull-left { ....here your custom style goes }

[2017-04-14 10:03] #31 closed

[2017-04-17 23:39] newbreedofgeek commented on #25
Closing as no bugs were raised after testing by @patoaesteve

[2017-04-17 23:39] #25 closed

[2017-04-17 23:41] newbreedofgeek commented on #30
Closing as no feedback was received on advice given. Please raise issue again with more details if needed @stanleycyang

[2017-04-17 23:41] #30 closed

[2017-04-17 23:43] newbreedofgeek commented on #10
Duplicate of #13. Closing this and tracking that issue.

[2017-04-17 23:43] #10 closed

[2017-04-18 07:19] rajikaimal opened #33 "Customizations"
Upto what level customizations can be done ?.
For an example:
- Styling the `step name`.
- Adding custom `previous` and `next` buttons.

[2017-04-19 20:35] romanlex commented on #33
+1,
and please add custom class for actions wrapper or another elements

[2017-04-20 00:41] newbreedofgeek commented on #33
@rajikaimal at this stage

- You can hide the next/prev buttons
- Change the text of both the next/prev buttons
- Use CSS to style the next/prev buttons
- Add custom text to the last "action" next step (i.e. make the last action step save "Save")
- Hide the top navigation (e.g step 1, step 2... )
- Prevent navigation via the  top navigation links

Check out the full list here:
https://github.com/n

[2017-04-20 11:45] wassimz commented on #33
@newbreedofgeek
Is it possible to add new button like for example a reset button that clear everything before finalyzing and go back to step 1

[2017-04-20 16:55] rajikaimal commented on #33
@newbreedofgeek Great, thanks for the quick reply. Feel free to close this issue if you want to. (unless you want to continue a discussion here with others for queries related to this question)

[2017-04-20 23:48] newbreedofgeek commented on #33
@rajikaimal let's keep this open for now. So others can list any ideas/requests and we can collaboratively decide on new customisations.

[2017-04-20 23:51] newbreedofgeek commented on #33
@wassimz you could implement a reset button inside each <Step>. And position it using CSS to sit inside the footer.

When a user clicks on the Reset button your can clear your store state and then call "this.props.jumpToStep(0)" to send the user back to the first step. This this.props.jumpToStep() utility is injected into all StepZilla Steps.

[2017-04-22 12:20] romanlex opened #34 "not start isValidated method"
I cannot start isValidated() method in my step
I found what ```stepMoveAllowed(skipValidationExecution = false)``` method in StepZIlla cannot properly check this because this.refs is empty
[code]
[code]

[2017-04-22 12:43] romanlex commented on #34
I change to ```stepMoveAllowed()``` method....but cant check with HOC validation
[code]

[2017-04-24 07:21] wassimz commented on #33
@newbreedofgeek
Thanks for your quick response. Can we access the jumpToStep from the main components (not from steps) ?? I need to reset the steps when a user refresh or click on the steps links.

[2017-04-26 09:49] johannesengl opened #36 "Option preventEnterSubmission disables linebreaks in child textareas"
Hi there,

I just encountered an issue regarding the option preventEnterSubmission which disables enter submissions in all child inputs. I believe this behaviour isn't intended for textareas. I suggest updating the handleKeyDown method as follows:

[code]

[2017-04-26 23:13] newbreedofgeek commented on #36
@johannesengl this is indeed a bug. Let me confirm and fix.

[2017-04-26 23:23] newbreedofgeek commented on #34
@romanlex Is your Step component a pure component?

Can you paste your Step code or post a complete example.

[2017-04-26 23:45] newbreedofgeek commented on #36
@johannesengl I've fixed it and pushed v4.4.8. Please reinstall via npm and test and let me know.

Thanks!

[2017-05-01 00:00] #27 closed

[2017-05-01 06:17] newbreedofgeek commented on #33
@wassimz at this time you can't access it from the "host" component, you can only access it from inside the "Step" components.

If you really want to "reset" from the host component just re-render the host component and it will reset.

[2017-05-01 19:09] jnordling commented on #34
I am having this issue also. Here is a full component. @romanlex change seems to work for me.

import React from "react";
import {config} from 'components/create/config';
import {createActions} from 'components/create/actions/createActions';
import {createStore} from 'components/create/stores/createStore';
export default class CreateType extends React.Component {
  constructor(props) {
    super(p

[2017-05-01 23:30] newbreedofgeek commented on #34
@jnordling @romanlex let me look into this further. I noticed that in @romanlex's package.json, that your "react": "^15.3.2" and "react-dom": "^15.5.4"... I could be wrong but I believe it's best practice that they match in version.

I do suspect this has something to do with your higher react-dom version, but let me investigate.

[2017-05-04 15:33] dmcclory opened #37 "Use external prop-types package"
Hi!

I'm using react-stepzilla, but I'm encountering these warnings:

[code]

They're pretty trivial, but they're messing up my CI runs.

I checked the source and noticed that stepzilla is importing PropTypes from react, which is in the process of being moved into that external package.

I can put up a PR if you'd like!

[2017-05-04 23:36] newbreedofgeek commented on #37
@dmcclory the latest version of React moved PropTypes to its own package:
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

I'll probably bump up the packages React version today and try and push a new version of StepZilla.

[2017-05-05 02:50] newbreedofgeek commented on #37
@dmcclory I've upgraded to 15.5.4 and pulled out PropTypes to use prop-types npm.

This should dig rid of the warning messages for you now. Please let me know if you have any other issues.

New build has been published to npm, so make sure you update to v4.5.0

[2017-05-05 10:27] arifsohail opened #38 "warnings"
whenever i use JumptoState(); everythings works fine but i get warning as:

**Warning: setState(...): Cannot update during an existing state transition (such as within `render` or another component's constructor). Render methods should be a pure function of props and state; constructor side-effects are an anti-pattern, but can be moved to `componentWillMount`.**

is there a solution for this probl

[2017-05-08 04:08] JinGuoGe opened #39 "When have 2 steps, submit button is not shown in 2nd step"
Hi
When you have 2 steps,  submit button is not shown in 2nd step.
Why is it?
Looking forward to be revised soon.
Thanks.

[2017-05-08 06:48] zeel opened #40 "bootstrap classes is used but dependency not added in package.json"
<img width="1216" alt="screen shot 2017-05-08 at 12 03 35 pm" src="https://cloud.githubusercontent.com/assets/1536949/25792801/86f54dec-33e6-11e7-80c5-2dfea93f1317.png">
In the footer is using bootstrap btn classes, and it's not specified in the dependency.

Ideally, it should not add bootstrap as a dependency but can add styles of the button only.

Let me know if I can open pr to add styles of bu

[2017-05-08 07:40] JinGuoGe opened #41 "Wizard progress bar is not rendering"
Why progress bar is broken?
Perhaps is it related with other dependencies?

I am using following..

`"dependencies": {
    "canvas-gauges": "^2.1.0",
    "centrifuge": "^1.4.1",
    "classnames": "^2.2.5",
    "crypto-js": "^3.1.9-1",
    "express": "^4.14.0",
    "express-history-api-fallback": "^2.1.0",
    "fs": "0.0.1-security",
    "gulp-util": "^3.0.7",
    "history": "^2.1.2",
    "pubsub-j

[2017-05-08 23:18] newbreedofgeek commented on #41
@JinGuoGe

Can you show me your StepZilla setup / config?

// disable or enable the steps UI navigation on top
showSteps: true

// disable or enable onClick step jumping from the UI navigation on top
stepsNavigation: true

Both the above flags should NOT be false, by default it is true so make sure you have not set it to false.

Also make sure some CSS is not hiding it.

Or show me your config and

[2017-05-08 23:25] newbreedofgeek commented on #40
@zeel Yes I agree with you. Bootstrap classes should NOT be baked into the core markup and should be an optional setting. Also don't think bootstrap should be a dependency.

I'm pretty sure it's only the footer buttons markup that has bootstrap classes.

Maybe we can pull out 2 more config settings:

// specify the next button text (if not given it defaults to "Next")
nextButtonCls: "btn btn-prev

[2017-05-08 23:27] newbreedofgeek commented on #39
Yes this is a known bug, I've raised it here #21

Let's track it over there.

[2017-05-08 23:27] #39 closed

[2017-05-08 23:31] newbreedofgeek commented on #38
@arifsohail I have not seen this issue.

It may be because of something else you are doing before/after you call jumpToState().

You can see an example of it being used here:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step2.js

Or give me your code example and I'll see if I can spot your issue.

[2017-05-11 03:37] zeel commented on #40
Thanks, @newbreedofgeek for the reply.

sure I will give PR in some time.

[2017-05-11 15:43] agent3bood opened #42 "Do not show next button if you have only one step"
Do not show next button if you have only one step.

[2017-05-12 05:51] agent3bood commented on #42
Here is what I understood how buttons showld be shown or not, correct me if wrong so I can work on this.

Next button:
Show on all steps
Hide on last step only

Previous button:
Hide on first step
Show on all other steps
Hide on last step if configured so in props

Next button text:
Default is 'next'
If configured in props then do so
If the second defore last is configured to use different text th

[2017-05-14 11:12] BrianSHenderson opened #43 "Issue with NPM installing"
When I enter:
meteor npm install react-stepzilla --save

I get:
npm WARN babel-loader@6.4.1 requires a peer of webpack@1 || 2 || ^2.1.0-beta || ^2.2.0-rc but none was installed.

I have webpack 2.3.3 installed, any ideas?

Thanks

[2017-05-15 01:04] newbreedofgeek commented on #42
@agent3bood Can I ask who you would like to use StepZilla if you only have 1 step? StepZilla only makes sense if you have more steps as it's a wizard?

[2017-05-15 23:55] jeznag commented on #41
@JinGuoGe did you include the CSS? Looks like it's working fine, you're just not styling it.

```also if you want some default style, copy the source from src/css/main.css code into your project (the above look in the picture also requires bootstrap)```

[2017-05-17 06:23] agent3bood commented on #42
Correct, I started adding steps to my app and noticed that.
Can you check the steps I put in my previous comment, I can work on 'getPrevNextBtnState()' to make it look pretty.
Or just close the issue if you want.

[2017-05-19 11:16] zeel commented on #40
opened pr

[2017-05-19 11:24] arifsohail commented on #38
i guess you are right some misplaced code is causing that warnings

[2017-05-21 07:58] j3t11ro commented on #34
I've run into the same issue and @romanlex fix has worked for me so far.  Will stay tuned to a more official update.

Thanks!

[2017-05-22 06:25] jeznag opened #45 "Next and previous buttons hide if you click on the span above the icon"
![image](https://cloud.githubusercontent.com/assets/1034890/26295052/46997a68-3f0b-11e7-9aff-a45b83606cf4.png)

If you click on the text, back and forward buttons disappear because the span doesn't have a value attribute so evt.target.value is undefined.

[2017-05-24 12:19] ThenmozhiD opened #47 "App not loading in IE"
Hi,

I tried to open this app in IE. Blank page only loading not components are getting rendered.

[2017-05-24 19:32] grd2345 opened #48 "disabling steps"
Is their a way to disable the steps. I am needing this during the  review step. when the click save, i want to disable the button to prevent them from submitting more then one since saving is going to be done server side. Is it possible?

[2017-05-25 00:30] carbureted opened #49 "Simple Transition Animation"
A fade-in effect between screens would be awesome.

[2017-05-25 09:28] #41 closed

[2017-05-25 16:15] agent3bood opened #50 "When starting at the second to last step 'next' does not render"
Hi

I have four steps and when I set startAtStep={2}, the next button does not show up.
then I hit previous and every thing works fine.

[2017-05-28 20:35] agent3bood commented on #21
check
https://github.com/newbreedofgeek/react-stepzilla/pull/51

[2017-05-28 20:36] agent3bood commented on #50
check
https://github.com/newbreedofgeek/react-stepzilla/pull/51

[2017-05-28 20:36] agent3bood commented on #42
check
https://github.com/newbreedofgeek/react-stepzilla/pull/51

[2017-05-29 01:45] newbreedofgeek commented on #21
Fixed in v4.6.0 via pull request #51 thanks to @agent3bood .

It's been tested but pease test and let us know if it has issues and we will reopen to investigate.

[2017-05-29 01:46] newbreedofgeek commented on #50
Fixed in v4.6.0 via pull request #51 thanks to @agent3bood .

It's been tested but pease test and let us know if it has issues and we will reopen to investigate.

[2017-05-29 01:47] #50 closed

[2017-05-29 01:48] #21 closed

[2017-05-29 01:49] #42 closed

[2017-05-29 01:49] newbreedofgeek commented on #37
@dmcclory closing as I've not heard anything and assume it worked.

[2017-05-29 01:49] #37 closed

[2017-05-30 08:11] agent3bood commented on #40
Is the PR going to be accepted? really need it.
 I can add test for it later.

[2017-06-01 03:09] newbreedofgeek commented on #40
@agent3bood @zeel Tnx for the push, this slipped my radar.

But the tests are failing on this merge, due to the btn-classes being used to locate the buttons in the tests.

I can only get to this next week but if you can contribute to the PR and fix the tests I can accept it by tomorrow.

Thanks.

[2017-06-01 03:18] newbreedofgeek commented on #40
@agent3bood @zeel one way around this to keep a fixed class for next/prev buttons (i.e. next and prev) and append the classes from nextButtonCls and backButtonCls if needed. This way the tests wont have to change too much and we can use the .next and .prev classes to locate the items in the test.

[2017-06-01 14:25] agent3bood commented on #40
Keeping the bootstrap class may affect the style of the buttons.
I say let the class be fully changable throught props and add id to the buttons and change the test.
Id can be unique like 'react-step-zilla-next-btn'

[2017-06-02 18:20] zeel commented on #40
@newbreedofgeek @agent3bood will do suggested by @agent3bood today. sorry didn't reply earlier and will run the tests this time.

[2017-06-05 23:26] newbreedofgeek commented on #40
Agree with @agent3bood - this is the right way to do it. @zeel thanks for your contributions. Once you update and PR or raise now PR I will test and release.

[2017-06-05 23:27] newbreedofgeek commented on #49
@carbureted good idea. You may be able to do this usinghttps://github.com/reactjs/react-transition-group. Would be great if you can see if it's possible and let us know, or raise a PR.

[2017-06-05 23:42] newbreedofgeek commented on #13
This should be high priority. As it breaks when it's promise based!

[2017-06-05 23:44] newbreedofgeek commented on #36
@johannesengl losing this as I've not heard any confirmation. Please reopen if the issue persists.

[2017-06-05 23:50] newbreedofgeek commented on #48
@grd2345 sorry for the delay. Have a look at #13. This is an issue.

[2017-06-05 23:51] newbreedofgeek commented on #48
Closing this, we can track it in #13.

[2017-06-05 23:51] #48 closed

[2017-06-05 23:52] newbreedofgeek commented on #47
@ThenmozhiD Sorry I have not tested this in IE. Which version? Can you paste a screen shot? and errors

[2017-06-05 23:55] newbreedofgeek commented on #43
@BrianSHenderson I've seen this somewhere, does it make StepZilla behave weirdly? as it's just a warning it may not.

[2017-06-05 23:55] grd2345 commented on #48
its ok, i went ahead and created my own multi step component. thanks

On Mon, Jun 5, 2017 at 6:51 PM, Mark Paul <notifications@github.com> wrote:

--
Dalum Software Solutions
http://www.mygymsoftware.com
Phone: 1-877-401-4567
Fax: 1-877-401-4567

[2017-06-05 23:56] newbreedofgeek commented on #41
@jeznag tnx for following up and solving! Appreciate your help.

[2017-06-06 09:04] BrianSHenderson commented on #43
I'm afraid I couldn't get it to work

[2017-06-06 11:17] ThenmozhiD commented on #47
Hi Mark,

I have checked in IE 11.

I shows error "SCRIPT1014: Invalid character".

Nothing getting rendered on the browser. Attached screenshot

On Tue, Jun 6, 2017 at 5:22 AM, Mark Paul <notifications@github.com> wrote:

--
Thanks,
Thenmozhi,
8940022327

[2017-06-06 20:30] blanco217 opened #54 "Next/Previous Buttons submit form"
Hello,
 I am creating a form using redux-form and I have a custom survey where each page is displaying as a step. The next/previous buttons that are created do not have the type attribute set so when they are clicked within the form the default behavior for a button is to submit. Adding type="button" fixed my issue.

[2017-06-08 07:05] zeel commented on #40
@newbreedofgeek @agent3bood I have updated the pr with all test cases are passing.

[2017-06-13 20:19] mikkelking commented on #54
I found a similar problem, which I traced to the presence of an enclosing form - if the wizard is inside a form, then the buttons will do a submit. Removing the form fixed the problem (I already had type="button")

[2017-06-19 20:49] zivkaziv commented on #34
I have this issue also.
It worked for me beofre I added redux connect

this worked:
[code]
No react-redux in this case..

this is not working:
[code]

[2017-06-20 17:51] zivkaziv opened #55 "IsValidated not working with redux"
Hi,

I'm opening a new issue on that.

My steps are using redux and implementing isValidated() as mentioned in the documents.
The problem:
IsValidated method isn't called.

I've debug it a little bit and found in the method "stepMoveAllowed" it get ProxyComponent and not the step itself, so isValidted doesn't exist on this path.

[2017-07-01 00:02] FredGauld opened #56 "No issue. You guys rock. :-)"
Thanks a bunch!

If you come to Montreal, I owe you a beer.

[2017-07-02 23:55] newbreedofgeek commented on #56
Thanks :) I may take you up on that offer

[2017-07-02 23:55] #56 closed

[2017-07-12 00:40] janek26 opened #58 "stepsNavigation doesn't work in all cases"
Even in the Example it's not working reliable. If you click on the text (span element) e.g. "Step 1" it's not navigating back, and all styles are loss. If you click at the hook (before pseudo element of the span) it's working.

A fix would be great to guarantee consistency

[2017-07-12 20:54] Ahakke commented on #55
Hi running into the same issue..

[2017-07-21 23:18] ericdcobb opened #59 "Chrome Maintains focus on 'Next' and 'Previous' buttons, even if `preventEnterSubmission` is true"
You can see this in the example app, there is a blue highlight around the next button after you click it to move to step two.

I think this is the expected behavior of chrome, the focus is kept on a button after it is clicked. It is confusing for  users (they try to press enter and nothing happens).

 I added a ref to a div in my step component and tried to manually set the focus to that in the `c

[2017-07-28 15:52] saroar opened #60 "Global Object"
is this work with the global object?

[2017-07-31 14:04] rubystar opened #61 "navigation button class as prop"
Hi, thanks for the great work.

Can we have the css class(es) for the navigation buttons taken from the prop so that it'll be easy to  customize those?
Thanks

[2017-08-01 03:33] rubystar commented on #40
Hey, can we please get it merged? Thanks

[2017-08-01 05:32] #40 closed

[2017-08-01 05:34] newbreedofgeek commented on #40
@rubystar @agent3bood Sorry for the delay in merging this. It has been done, tnx @zeel for the excellent work.

[2017-08-01 10:10] rubystar commented on #61
Closing this as it's fixed by https://github.com/newbreedofgeek/react-stepzilla/issues/40. Thanks

[2017-08-01 14:28] #61 closed

[2017-08-04 06:21] rubystar commented on #55
Hey i am having the same problem. Anybody has a fix for this? Thanks

[2017-08-04 06:42] rubystar commented on #34
@newbreedofgeek is there a chance for this to be fixed soon, I'll definitely need this.
I mean this feature is one of the reasons i wanted to use this library. Thanks

[2017-08-04 07:53] mhidalgop commented on #34
I also need this feature, in my opinion is the point that makes better this library compared to others.

[2017-08-08 05:27] gate3 opened #63 "Current Step State not being stored"
Hi, great library. This is my first time using this, i've tried to go through other issues but can't find what i need. The issue is that the data filled in, into a previous step goes missing as soon as i go to another step, i don't know if this is by design or an error, because wizard steps should normally retain state so users can go back. If this is by design, then i'd be really happy if i can g

[2017-08-08 22:19] newbreedofgeek commented on #63
@gate3 this is by design. You make a valid point that a wizard should retain data going back too, but currently how it works is that clicking "next" calls a injected "isValidated()" method in that step and it's up to you on validating data and saving to state. The decision was made to keep it simple, as validation is involved and you need to prompt the user to fix data before saving to state, I on

[2017-08-08 22:20] newbreedofgeek commented on #60
Not sure I understand what you mean? Can you explain with more details and a example if possible.

[2017-08-08 22:29] newbreedofgeek commented on #55
Yes, I suspect the higher order redux wrapper is abstracting the steps further. I had the same issue after integrating react-validation-mixin Andrew had to write conditional checks whenever I was binding properties to the react components. Has someone been able to get this working? I'd like to get StepZilla working with redux.

[2017-08-08 22:33] newbreedofgeek commented on #58
Thanks for raising this, were you able to find a fix for this? I suspect it may be possible via CSS?

[2017-08-08 22:39] newbreedofgeek commented on #54
Thanks for the feedback guys. As @mikkelking suggested, is removing the enclosing form an acceptable option? Or @blanco217 did you say you forked the library and added your fix? Did it have other side effects?

[2017-08-08 22:42] newbreedofgeek commented on #47
@ThenmozhiD did you have any luck debugging this issue? I could not reproduce it.

[2017-08-08 22:50] newbreedofgeek commented on #55
@zeel if you have some time would appreciated if you can try and reproduce this with redux and see if you can fix it. I'd really like to resolve this if it's an issue, as redux is probably what most ppl use for state.

[2017-08-08 23:09] gate3 commented on #63
OK, seems like a good option. But I am thinking of saving to state using

and then recovering from state in

I'd like to know your thoughts about this please

[2017-08-09 00:08] gate3 commented on #63
Storing in parent state seems to work like a charm. What i'm doing is saving to parent state on using

and then i passed in the particular state as props to each step. Then I'm setting the input text value as an uncontrolled input using

![peek 2017-08-09 01-04](https://user-images.githubusercontent.com/3597437/29099772-47501bc0-7c9f-11e7-8641-f2a7ae1221ab.gif)

[2017-08-09 00:49] blanco217 commented on #54
@newbreedofgeek For my project I am using redux-form with a multi-step form so in my case it is not an option. The change I made so far has no side effects. I may make a pull request soon when I can test further

[2017-08-09 06:09] newbreedofgeek commented on #63
@gate3 brilliant, of course. componentWillUnmount is the best way to do this as it puts the Step in full control and we dont need any core code changes to support this. Thanks for doing this. I will close this now.

[2017-08-09 06:09] #63 closed

[2017-08-09 06:12] newbreedofgeek commented on #54
@blanco217 ok, so its as simple as adding type="button" to these 2 buttons right? https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L322-L335

[2017-08-09 06:32] gate3 commented on #63
Oh no thank you for a wonderful library.. Saved me a lot of time. Thanks
On 9 Aug 2017 7:09 am, "Mark Paul" <notifications@github.com> wrote:

[2017-08-09 11:28] magnifi commented on #55
It would be great to provide a way to validate high order components, or probably accept a callback as prop.

    <StepZilla
         shouldProceed={(index, component) => this.validateStep(index)} />

I ended up exporting the component with the option `{withRef: true}`, and calling component.getWrappedInstance().isValidated()

https://github.com/magnifi/react-stepzilla/commit/eb3687e639d8a58a6ddc4

[2017-08-09 11:30] zeel commented on #55
@newbreedofgeek ok I will check tonight

[2017-08-09 14:06] blanco217 commented on #54
@newbreedofgeek yea that is all that is needed

[2017-08-10 02:00] michaeladams commented on #58
It seems the span within each list item is capturing the click and not passing it to the li.

To get around that, there is some css you can use, although pointer-events may not work in older versions of IE.

[code]

Note the display: inline-block because of Edge:
https://stackoverflow.com/questions/43655765/ie-edge-pointer-events-none-not-working-on-span-tag

[2017-08-10 04:27] gate3 commented on #63
I'd like to add an example to of how I solved this. Should I make a PR.
On 9 Aug 2017 7:32 am, "Tayo olarewaju" <youngenterpreneur11@gmail.com>
wrote:

[2017-08-10 05:36] newbreedofgeek commented on #63
Good idea, but a PR is not needed. I will tag this Ticket "Useful Tips" and link it off the README/WIKI for others to see.

So please add your example to this ticket.

[2017-08-10 05:37] gate3 commented on #63
OK will do thanks
On 10 Aug 2017 6:36 am, "Mark Paul" <notifications@github.com> wrote:

[2017-08-10 05:44] newbreedofgeek commented on #63
@gate3 WIKI pages added - https://github.com/newbreedofgeek/react-stepzilla/wiki/Useful-Dev-Tips

[2017-08-10 06:37] gate3 commented on #63
Say we have a parent component that uses stepzilla like this

`const steps = [
        {name:'Step1',component:<Step1 />}
        {...}
]`

Create a state for the step in parent component

`this.state = {
  step1:{someData:'',someData2:''}
}`

Create a function to collect data from the child component during 'componentWillUnmount'. Assign an id for each child so you can use a switch statement to k

[2017-08-10 06:50] newbreedofgeek commented on #63
@gate3 your contribution is very much appreciated!

[2017-08-10 08:05] zeel commented on #55
@newbreedofgeek I think solution provided by @magnifi is correct.

There is another way to hoist instance method of the component to container component, but it's not approved by Facebook authors.

https://github.com/reactjs/react-redux/pull/270#issuecomment-175217424

@magnifi can you create pull request? cc: @newbreedofgeek

[2017-08-10 08:16] zivkaziv commented on #55
Hi,
Sorry for the late response.
After facing this issue, I implemented it on my own using material design stepper.
For each component i've added export default connect(mapStateToProps, null, null, **{ withRef: true }**)
in order to have access to isValidated() method.

In order to execute this method you just need to call ..**getWrappedInstance().isValidated()**

So if I'm not mistaken, the fix s

[2017-08-16 17:18] shivan4030 commented on #34
i have run into the same issue, please let me know if any of you found an a way to solve it !!

[2017-09-06 09:19] JoaoCnh opened #64 "Can we customize the steps progress?"
How can we customize the progress steps? I don't want the <em /> and <span /> approach.

How can this be done?

EDIT: Maybe even customize just the text of the em tag. I want a representative icon and not a number for example

[2017-09-11 18:43] zeel commented on #64
we can take `stepRenderer` function as a prop and can use current one as default prop.

cc: @newbreedofgeek

[2017-09-14 15:55] Kliton opened #65 "ncaught TypeError: Cannot read property 'isValidated' of undefined"
`Uncaught TypeError: Cannot read property 'isValidated' of undefined
    at main.js:71
    at Array.map (<anonymous>)
    at StepZilla.applyValidationFlagsToSteps (main.js:65)
    at new StepZilla (main.js:53)
    at ReactCompositeComponent.js:294
    at measureLifeCyclePerf (ReactCompositeComponent.js:75)`

I have this error.

[2017-09-14 17:02] awhyz commented on #65
Are you using a wrapper like Redux? Discussed in #29 and #55

[2017-09-25 02:05] shaksi opened #66 "does this work with react native"
currently trying to figure out what react native multiform to use and I was wondering are there any issues that would hinder me using it in a native app? (Apologies if it is an ignorant question)

[2017-09-28 13:12] slashwhatever commented on #33
Would be great to be able to supply custom components as the Next and Previous buttons. I'd like to be able to use glyph icons instead.

Quick question on points above by @wassimz  - are you saying we can call jumpToStep manually from inside our step component? Reason I ask is that for some steps, I want the action of a user clicking an element inside the step to move to the next step.

[2017-10-04 20:01] moisesnandres commented on #63
Hi @gate3 can you do an example on a gist? I tried to follow your steps but didn't work

[2017-10-04 22:13] moisesnandres commented on #36
Hi @newbreedofgeek I have a problem with that, in my first step I have a search input and want to search using enter key but if preventEnterSubmission is disable it won't work and if I set preventEnterSubmission to true it goes to the second page

[2017-10-25 00:17] kaiomagalhaes opened #67 "React ref does not work as intended"
Working with this library I faced an weird issue in which it was not properly defining the `ref`. It happened because react changed how to work with the refs: https://reactjs.org/docs/refs-and-the-dom.html

In my fork I changed the src/main.js line from:
[code]

to:

[code]

I had to change how we were validating the activeComponent property in a few places, but then it worked just fine.

I can cr

[2017-10-25 00:22] kaiomagalhaes opened #68 "Add class for clickable / not clickable buttons"
In a few cases we may need to let the user know if a button is clickable or not. As we have step validations we could add button classes to give a feedback to the user so he knows if he can move forward or not. To do it we could add a `nextButtonDisabledCls` and check whether he can click or not and apply the class if he can't.

In order to do that we would also need to change how we define the re

[2017-11-10 20:00] nabrowning commented on #65
I, too, am having this issue. Not using Redux or any sort of wrapper. I would really like to use this Component, though! It looks really great!

[2017-11-12 14:44] aliogaili commented on #65
+1

[2017-11-14 09:46] zeel commented on #65
@Kliton @nabrowning @aliogaili can anyone of you share how you have used this component to debug?

It would be great if you can share code snippet also.

[2017-11-14 16:18] nickwesselman commented on #54
Came up with a workaround for this in the meantime:

[code]

[2017-11-24 02:03] CleverMobile2811 commented on #33
When i click title in top navigation.
it doesn't work.

[2017-11-30 18:33] chicus12 opened #71 "Bug when click the span with the name of the Step"
If I click the `<span>` with the name of any Step, trigger the click action, so call the method `jumpToStep`, but the event target is not the `<li>` is the `<span>` and this doesn't have `value` property, thus where move is unknown.

Note: sorry for my bad english, I would like send a PR but I'm new in this.

[2017-11-30 20:52] chicus12 commented on #71
Oh, sorry this duplicated of  #58

[2017-11-30 20:52] #71 closed

[2017-12-11 21:15] gtwilliams03 opened #72 "Possible to allow PropType "node" as well as string for backButtonText and nextButtonText?"
It would be nice to allow PropType node as well as a string to allow the insertion of icons, etc., into the button contents (`backButtonText` and `nextButtonText`):

[code]

Right now it throws an error if anything is included except a string:

[code]

[2017-12-14 11:03] ramkuvel opened #73 "cloud connection details"
on click of save button, getting "Data was successfully saved to cloud..." message. please let me know the place to change the cloud connection details. Thanks.

[2017-12-17 11:23] zeel commented on #72
@gtwilliams03 we can make validation of propTypes to be `oneOfType([string, node])` in codebase.
cc @newbreedofgeek

[2017-12-19 06:50] zeel commented on #13
@jorgecuesta is the bug fixed?

[2017-12-23 01:41] rickerd commented on #63
@gate3 is there an example somewhere? I can't get it to work and where to place the functions.

[2017-12-28 15:18] rickerd commented on #33
"You can hide the next/prev buttons"
I prefer not hiding the buttons but don't render the buttons. Now in the element inspector of the browser the div can be showed and messed with the form.

I hope this can be changed.

Also what i would like is a progress bar or a possibility to do this.

[2017-12-29 06:42] atiqueansari1987 commented on #54
Anyone working on this? If not can I make changes and submit PR?

[2017-12-29 18:21] blanco217 commented on #54
@atiqueansari1987 I haven't made the change. If you can that would be great.

[2017-12-30 12:28] zeel commented on #54
Added PR.

[2018-01-07 10:54] ensemblebd opened #76 "What a breath of fresh air."
Thank your for this package. And for maintaining it. very impressed, thank you!!

[2018-01-09 05:02] newbreedofgeek commented on #76
Thanks you. @zeel has been doing a great job.

[2018-01-09 06:27] zeel commented on #76
Thank you @newbreedofgeek. I am happy to help. I am very excited to contribute to open source as much as I can. Let me know if anything new needs to be done.

[2018-01-16 03:47] pApApAw opened #77 "Change Previous and Next Button text."
How can i change the text of the buttons?

[2018-01-18 11:52] secabhi opened #78 "nextTextOnFinalActionStep "Submit" button showing up one step before"
`const steps =
    [
      {name: 'Step1', component: <Step1 getStore={() => (this.getStore())} updateStore={(u) => {this.updateStore(u)}} />},
      {name: 'Step2', component: <Step2 getStore={() => (this.getStore())} updateStore={(u) => {this.updateStore(u)}} />},
      {name: 'Step3', component: <Step3 getStore={() => (this.getStore())} updateStore={(u) => {this.updateStore(u)}} />},
      {nam

[2018-01-18 11:52] secabhi commented on #78
On last step no button is coming.

[2018-01-23 19:23] SpencerGreene opened #79 "Browser back button?"
Nice component - thanks for putting it out!  I tried the live demo and it seems that the browser 'back' button does not move backward in the form, which is something I need in my app - so - how hard is it to make it do that?

[2018-01-25 23:35] dk4210 opened #80 "TypeError: Cannot read property 'IsValidated' of undefined"
Hello I see that other people were having this issue but I didn't see a clear answer.

the steps work great, its the validation I'm having an issue with. Please advise.

Here's the complete error

[code]
'use strict';

import React, { PropTypes, Component } from 'react';
import { Row, Col, Button,  ButtonDropdown, DropdownToggle, DropdownMenu, DropdownItem, Card, CardHeader, CardFooter, CardBody,

[2018-02-01 07:32] mdingalla commented on #55
forced the issue with this

`else if(typeof this.props.steps[this.state.compState].component.type.prototype.isValidated !== 'undefined') {
          proceed = this.props.steps[this.state.compState].component.type.prototype.isValidated();
      }`

[2018-02-01 14:35] Osho5588 commented on #78
Hd

[2018-02-01 14:40] Osho5588 commented on #78
Sorry, disregard my previous message.

“You need to create one extra step with Div having classname “review” and have that step included in steps configuration.” Doing that you should see the save button on your actual last page.

[2018-02-02 06:31] gaohailang commented on #67
how things go on? @kaiomagalhaes

[2018-02-04 22:07] vishagar81 commented on #63
@newbreedofgeek I am just unable to get this working. Sadly, I do not get any errors too. I have followed your description but not sure whether I am missing something.

[2018-02-09 21:41] cdesch commented on #41
Any to configure this with `react-strap ProgressBar` or `boostrap progressbar`

[2018-02-09 22:53] gtwilliams03 opened #81 "Change last step to green checkbox on confirmation?"
My last step, like your demo, thanks the user for their submission after they have walked through the steps.  The convention on the UI steps seems to be confusing our users (the gray circle at the end seems to indicate something else needs to be done - is it possible to force the last step to be a green checkbox?

It seems like the last "thank you step" should show all green checkboxes (I even jus

[2018-02-12 11:45] contentoo-tvdveen opened #82 "question using components to wrap html fields"
Hi All,

First of all I am quite new to ReactJS so don't blame me for it ;-)

I am wrapping common fields into separate component classes for re-using them throughout my SPA.
For example i created a separate component for a dropdown field which loads data from a remote server.

Now this works fine, but using the react-stepzilla library the validation does not work.

`<SubjectField required default

[2018-02-12 22:10] contentoo-tvdveen commented on #82
found it.

[2018-02-12 22:10] #82 closed

[2018-02-17 13:24] mcnally opened #83 "Element type is invalid (Issue using with create-react-app)"
Using a very basic example, directly after creating the app, results in this error

#### Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.

Here is how i used it
[code]

[2018-02-18 16:06] agent3bood commented on #13
@newbreedofgeek
I have tried to solve this issue and could not find a way other than making a HOC that wraps every step and on update it will check the validate function.
Do you have any other ideas?
also if I work on making a HOC for steps will it be mergerd? Because it will require many changes to the code.

I am in mobile now, so I will post some code later.

[2018-02-21 09:43] agent3bood opened #84 "eslint errors"
Hi @newbreedofgeek
there are too many eslint errors in the project, I can fix all if you agree to merge.

[2018-02-21 09:50] agent3bood commented on #84
@kaiomagalhaes already did great work
https://github.com/newbreedofgeek/react-stepzilla/pull/69
waiting for this to get merged.

[2018-02-21 14:27] kaiomagalhaes commented on #84
thanks @agent3bood I just saw that there are a few conflicts, as soon as someone from the repo acknowledge that they plan to have it merged I'm going to fix them.

[2018-02-22 15:16] local-joke commented on #83
had similar issue. fixed it by movie the initialization of 'steps' inside the render function

[2018-02-23 01:59] realdubb opened #85 "Reusing a component across multiple steps - state is duplicated"
Whenever I reuse a component across multiple steps they end up sharing the state.

Check out the issue in this example: https://codesandbox.io/s/3ry507v6zm
Steps 2/3 - are using the same component, you can see the state is the same

I'm planning to create steps dynamically, utilizing the same component. I was thinking each step would maintain its own state.

What am I doing wrong? is this expected

[2018-02-27 23:54] johnantoni opened #86 "Preventing user jumping back a step? with nav bar enabled"
Hi,

With the navigation enabled is there any way of preventing user's jumping back to previous steps?

[2018-02-28 07:13] ahmetcetin commented on #55
i had the same issue, but without using any HOC like redux, my component in step 4 was just a plain class component, somehow it was still dropping in HOC isValidated part in if statement in step 4. So I've changed the part starting with line 261 as follows to fix it:
[code]

[2018-03-05 22:29] sricheta92 commented on #55
@ahmetcetin  even your solution is not working. @newbreedofgeek How do I pass { withRef: true } to connect function?

[2018-03-06 10:25] sabun123 opened #87 "Unable to load the icons for react-stepzilla"
I'm getting 404's when trying to run this. It looks like it's pointing to a dead link:
https://newbreedofgeek.github.io/favicon.ico

Is there an alternative or a quick fix for this?
My UI is ending up looking like the following currently:
![bugger](https://user-images.githubusercontent.com/3523483/37027187-9a27c962-216b-11e8-8a15-b1c5b03937bd.png)

I'd like to achieve the look like in the followin

[2018-03-06 19:53] Adamkzh commented on #87
you need add .css file

[2018-03-06 19:56] Adamkzh opened #88 "Adding onclick event on "next" button"
Hi,
Is there any open api for adding onclick function when click "next" button?  Or any other ways to helping with this problem ?
I want to record the input and doing a screenshot when click "next".

[2018-03-06 20:50] Adamkzh commented on #80
Got the same problem

[2018-03-07 02:33] sabun123 commented on #87
Thanks for the response, where do I get this .css file from? I figured it would have been included during the npm install process.

[2018-03-07 03:13] #87 closed

[2018-03-07 04:02] sabun123 commented on #55
I think I'm experiencing this problem as well, since I'm using React with Redux. I'm passing react-stepzilla a Semantic UI Grid component, and it pops up this lovely error message:
[code]
![isvalidated bug](https://user-images.githubusercontent.com/3523483/37072752-fca20034-21fd-11e8-8f5c-b36d078df132.png)

which pretty much breaks everything.

I have not tried magnifi's suggested changes above be

[2018-03-09 04:18] digitalbridge opened #89 "Custom Button Text for each Step"
Is it possible to somehow have different text on buttons on every step rather than the same throughout all steps? Would be great if you could, for example, have 'nextButtonText' value inside the definition of each component.

[2018-03-13 07:53] NomNomCameron commented on #81
+1

[2018-03-14 22:14] shakealot commented on #83
Face the same issue with create-react-app, but my mistake was something else. I wrote
`
import { StepZilla } from "react-stepzilla";`
instead of
`
import StepZilla from "react-stepzilla";`

[2018-03-20 15:55] rickgvs opened #90 "add typings file"
It is a shame your library doesnt have a typings file
we are in 2018 people use typescript, you can make a typings file in a bit and publish it will ya.
hehehe actually I think your library is super awesome and I feel a little frustrated that I cannot run it in this typescript portal I am doing.

[2018-03-20 22:53] newbreedofgeek commented on #90
@rickgvs :) thanks for the comment. Would love to spin off a TypeScript version of this, but not on our todo list at the moment. You can fork this and make it TypeScript compliant, pls share the link if you do so we can keep track of your project and promote it for plp wanting a TypeScript version.

[2018-03-20 22:53] #90 closed

[2018-03-20 22:56] newbreedofgeek commented on #76
@rickgvs as mentioned in #90, its not on our todo at the moment. But please fork and attempt, and we can promote your project as an alternate.

[2018-03-20 22:56] #76 closed

[2018-03-20 22:59] newbreedofgeek commented on #60
Closing as no feedback was given.

[2018-03-20 22:59] #60 closed

[2018-03-20 23:03] newbreedofgeek commented on #66
@shaksi Sorry for the last reply and thanks for the question.

It Probably does not work as ReactNative has its own markup. i.e. <div> wont work (... has this changed, I have not worked with ReactNative for many months now?).

You can give it a go and let us know. Unfortunately we don't have any immediate plans to get this working on mobile. I will re-open this issue if we do and let you know.

[2018-03-20 23:03] #66 closed

[2018-03-20 23:04] newbreedofgeek commented on #43
@BrianSHenderson is this still an issue?

[2018-03-21 08:30] BrianSHenderson commented on #43
Found another way around the problem

[2018-03-21 08:30] #43 closed

[2018-03-21 17:54] priyankabachu opened #91 "Can I have a cancel button on every step of wizard?"
I want to call a function on cancel button of each step.
Can this be possible?

[2018-03-25 23:04] newbreedofgeek commented on #91
@priyankabachu there is no Cancel button by default. Do you mean Back button?

Back: You can hook into the `onStepChange` callback, which should fire each time a step changes (back or next) and do any work you may need but this may not suit your need.

Next: The isValidated() method can prevent moving front until certain conditions are met. [Step Validation](https://github.com/newbreedofgeek/react

[2018-03-25 23:11] newbreedofgeek commented on #89
Hi @digitalbridge  - I like the idea but at this point in time its not possible, I'll flag this as a `UpVotes Needed` and if we get many upvotes we may plan it in a release but at this point we dont have have any plans for this.

Horrible workaround would be to use JavaScript to inject custom text into the buttons after page load... (sorry...)

[2018-03-25 23:14] newbreedofgeek commented on #88
@Adamkzh yes, you can tap into the isValidated() method which prevents moving front until certain conditions are met. [Step Validation](https://github.com/newbreedofgeek/react-stepzilla#step-validation)

Check out an example here : [Step 5](https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step5.js)

[2018-03-25 23:14] #88 closed

[2018-03-25 23:15] newbreedofgeek commented on #88
@Adamkzh closing for now, pls reopen if you have any other requirement and provide a example of what you are trying to do.

[2018-03-25 23:16] priyankabachu commented on #91
@newbreedofgeek  thanks for explaining  much clearly :)
I don't want to navigate  through the steps which i am able to do successfully by using back/Next buttons but in my requirement i need one more button cancel.
When the user clicks on the cancel button i want to Perform an action like Calling an Api .
So I wanted one more button under each step of wizard.

[2018-03-25 23:24] priyankabachu commented on #91
@newbreedofgeek  ok Thankyou!
I will give a try !

[2018-03-26 03:10] logankoester commented on #89
I've successfully worked around this limitation by passing a component to `nextButtonText` and setting its state from each step component by reference. It does echo a prop-types warning, but it's working well so for now I can live with that:

[code]

[code]

[2018-03-26 05:35] newbreedofgeek commented on #86
@johnantoni Sorry, I dont follow. Do you mean you want to prevent users jumping back steps from the header steps? i.e. you enable `stepsNavigation` but only want to make users for 'front' not back?

[2018-03-26 05:51] newbreedofgeek commented on #85
@realdubb I do clone the component before render [see here](https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L312) but this happens just before the render so I'm guessing its clones the state as well.

Try cloning it during StepZilla init. i.e. [here](https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Example.js#L41-L48)

React Clone - https://zheny

[2018-03-26 16:18] CGastrell commented on #78
I can confirm this behavior on a simple 2 step instance (data + confirm/review). The supposed "next" button gets the nextTextOnFinalStep text, and the final step doesn't show any "final" button (only prev)

@Osho5588 solution works, but it adds an extra (obvious) empty step on the steps breadcrumbs/timeline
![image](https://user-images.githubusercontent.com/157240/37918670-25497086-30f8-11e8-804a-

[2018-03-26 17:32] johnantoni commented on #86
@newbreedofgeek yep, as in show the navigation steps (1 --- 2 --- 3 --- 4) but not allow them to jump back to previous steps.

[2018-03-26 22:52] newbreedofgeek commented on #89
@logankoester thats very smart, good job! I'll close this off for now. If someone else has the same request I'll reopen and activate the "Upvotes" tag.

[2018-03-26 22:52] #89 closed

[2018-03-28 11:47] aliogaili commented on #80
Same here..

[2018-03-28 11:50] aliogaili commented on #65
Hello sorry I missed this, if you just follow the example and try to create a dummy steps as such:

[code]
and then you render it:
[code]

You'll get the undefined error mentioned above.

[2018-03-29 14:12] narendravenkata opened #92 "Issue with isValidated"
Hi I am using redux along with stepzilla, i need to save values at every step so I am using @connect with redux and isValidated() is not triggered , I tried to use @connect in Main component where we define steps and send required fields as props to each step but i am not able to get it done.

Please help me with this issue

[2018-04-04 00:00] newbreedofgeek commented on #86
@johnantoni as per documentation, have you tried:

[code]

Does this suit your need?

[2018-04-04 00:01] newbreedofgeek commented on #85
Closing as no response from OP - please re-open if you want to continue the discussion.

[2018-04-04 00:01] #85 closed

[2018-04-04 00:06] newbreedofgeek commented on #92
@narendravenkata Tnx for raising this. I haven't tried it with redux's @connect - I'm guessing it wraps StepZilla with a HOC and therefore the reference is lost.

If this is the case, it's a issue we should try and fix as redux support is very important.

@agent3bood @zeel @Aapzu @elisechant @avivr have you guys seen this in your work on StepZilla, anyone can recommend a fix? Would appreciate heap

[2018-04-04 00:13] newbreedofgeek commented on #83
@mcnally sorry for the delay in response.

I believe @local-joke 's recommendation will work, although I can't say why there is an issue with your code, it should work as well.

Maybe your `const Step1` was not being hoisted to the top and therefore there was the undefined error. (just a guess)

Let me know if you solved this issue, i'll close this for now but feel free to reopen with any new find

[2018-04-04 00:13] #83 closed

[2018-04-04 00:14] newbreedofgeek commented on #81
@zeel this can be done with just a CSS update right?

@gtwilliams03 sorry for the delay in response, did you manage to solve it? have your tried custom CSS?

[2018-04-04 06:35] learninggear commented on #92
@narendravenkata  @newbreedofgeek  Looking forward for solutions

 In my project we got stuck with the same **@connect** Issue. using 4 steps loading dynamic components . Not triggering isValidated(). Somehow made it to work from child to parent using props, Whatever we do  step at index 0 never triggers.

Thanks

[2018-04-04 22:18] newbreedofgeek opened #93 "Add a eslint npm Step"
- We need to add a ESLint npm step so we can keep the code quality up to par.
- This is based on the request made by @kaiomagalhaes and @agent3bood
- Instead of PRs to do this ad-hoc, I'd rather have this tied to the `npm build` step which prevents building until linting has passed.

[2018-04-09 08:07] JimiPedros opened #95 "Defining the port number"
Hi there

This is not so much an issue, but more a question; how can I define the port number in stepzilla source?

I would like to change it to port no. 80

Thanks in adv.

[2018-04-09 23:51] newbreedofgeek commented on #81
tnx @zeel I will have a look today.

[2018-04-10 00:52] newbreedofgeek commented on #81
@gtwilliams03 @NomNomCameron You can use this pure css solution so you are not blocked:
https://github.com/newbreedofgeek/react-stepzilla/blob/2862f1b8eb1436a1142ee670eeb646a942f4f6af/src/css/main.css#L98-L120

@zeel and I are working on the ideal solution

[2018-04-10 00:56] newbreedofgeek commented on #92
@zeel would appreciate your help in solving this issue. Maybe create a new branch and an updated example in `src/examples` that uses redux and @connect... I can then help you find the solution...

[2018-04-10 00:59] newbreedofgeek commented on #95
@JimiPedros we use the default `webpack-dev-server` to launch the `example` step. By default it uses 8080, I'm sure you can specify the port number by update the package.json `example` script to specify the port. Check out the webpack-dev-server docs...

Please report back if you solve the issue in case other user need to do the same in future...

[2018-04-11 00:05] newbreedofgeek commented on #95
Closing this issue for now, please re-open if its a bug. Tnx @JimiPedros

[2018-04-11 00:05] #95 closed

[2018-04-11 16:00] DJBurb commented on #77
use the backButtonText and nextButtonText props
[code]

[2018-04-15 12:34] gtwilliams03 commented on #81
Thanks for the update!  I was working on another project - so sorry for the delay.  This isn't a huge issue for our project so I had just left the non-success icon on the last step for now (project is still in beta so it's not critical yet - but something our test users raised as confusing).

[2018-04-17 05:41] newbreedofgeek commented on #81
@gtwilliams03 glad it was not a major blocker... see the CSS above, it will solve your issue.

[2018-04-17 21:59] osdiab commented on #33
I would love ability to use a custom button component. For my project we have a standardized button component used all over the place, passing a class name isn't convenient since it's written with `styled-components` and so the classname is generated at not easily accessible—but if I could just wrap that button with something that takes in whatever Stepzilla uses, that would be very cool :)

[2018-04-18 10:42] newbreedofgeek commented on #92
This is related to #55

[2018-04-18 10:45] newbreedofgeek commented on #92
Duplicate of #55

[2018-04-25 12:49] georgejincy commented on #38
I'm getting the same issue when calling jumpToStep(), inside the render of my Step component.

[code]

[2018-05-02 11:39] miralkumbhani commented on #55
Facing the same issue with even the simple code:

`<div className='step-progress' style={style}>
                        <StepZilla
                            steps={steps}
                            nextButtonCls='btn btn-prev btn-primary btn-md pull-right'
                            backButtonCls='btn btn-next btn-primary btn-md pull-left'
                            showNavigation={true}

[2018-05-02 23:45] AnneEO opened #97 "Need isValidated to run on both Next and Previous navigation."
Great library, thank you so much for the work you have put in!

My situation allows the user to navigate forward and backward, both using the buttons and by clicking the step navigation at the top. Each step is complete within its own component and needs validation before leaving. I discovered today that validation (isValidated) only fires when moving forward. I've searched the docs and don't see

[2018-05-03 04:48] shraddhaagrawal opened #98 "POP up is not working inside stepzilla wizard"
Hi,

I am using button with custom attributes and its working outside wizard.
On click it will show pop up.
`
                <button data-cb-type="checkout" data-cb-plan-id="data-cb-plan-id" data-cb-plan-quantity="1" data-cb-addons_id_0="data-cb-addons_id_0" data-cb-addons_id_1="data-cb-addons_id_1" data-cb-addons_id_2="data-cb-addons_id_2">
                    SaveNContinue
                </but

[2018-05-10 09:45] #98 closed

[2018-05-15 17:32] malafreniere commented on #90
For anyone interested in a definition file to support typescript, here's a simple one:

[code]

[2018-05-17 12:42] willk-hcss commented on #91
I'd like to see this as well, or maybe even a way of overriding/injecting custom buttons into the step navigation.

[2018-05-18 22:47] francisngo commented on #77
How do you change button text between each component?
For example, if I am in first step component, and want 'Next' button to be called 'Submit'.
And on the second step component, the button is changed to 'Select'.

[2018-05-22 03:05] dwengticorp opened #99 "Are the class for next/back button reversed?"
See below, should not the btn-prev for back button, and btn-next for next button? what set now for the default is reversed.

// specify the next button class (if not given it defaults to "btn btn-prev btn-primary btn-lg" which depends on bootstrap)
nextButtonCls: "btn btn-prev btn-primary btn-lg pull-right"

// specify the back button text (if not given it default to "btn btn-next btn-primary btn-

[2018-05-29 06:50] Bhushan001 commented on #33
@newbreedofgeek I think some kind of nesting approach here would really help. Like first step can spawn multiple paths according to users selection.

[2018-05-31 03:49] jcsabado commented on #55
React-redux now is in version ^5.0.7, @realdubb your edit is not working on that version or I am just doing it wrong. isValidated still not working with redux connect. Anyone??

[2018-05-31 14:45] billycrid opened #100 "Element ref was specified as a string (activeComponent)"
Having abit of a unique scenario at the moment.. i am trying to render StepZilla in a react application which works fine. When rendering into another application however (an application which is hosted elsewhere with own build system etc) i am getting this error....

[code]

Error points too...

[code]

I seem to get this only on rendering steps with components as classes. for example, rending thi

[2018-05-31 18:35] realdubb commented on #55
@jcsabado no, my changes have not been merged to current version. Haven't had the chance to add tests before requesting PR

The fix works with react-redux ^5.0.7 - I've added a test showing it working. Check out the component in Step3b and specifically line 159 - need component to export `withRef: true` otherwise it won't work
https://github.com/realdubb/react-stepzilla/blob/reduxIsValidated/src/e

[2018-06-01 02:38] jcsabado commented on #55
@realdubb Thanks dude.. . I did wrong on my code hahaha I use "hocValidationAppliedTo={[0,1, 2, 3]}" then edit the main.js added these code
`
        } else if (this.isStepAtIndexHOCValidationBased(this.state.compState)) {
          // the user is using a higer order component (HOC) for validation (e.g react-validation-mixin), this wraps the StepZilla steps as a HOC,
          // so use hocValidat

[2018-06-07 19:00] chobo2 opened #102 "Is Stepzilla Responsive?"
Hi

Is Stepzilla responsive for smaller screens?

[2018-06-07 22:29] francisngo opened #103 "URL paths for each step"
Any chance this project will support URL paths for each step? If not, is it possible to do? And how would it be done?

[2018-06-14 16:45] #103 closed

[2018-07-12 04:30] #93 closed

[2018-07-23 11:42] newbreedofgeek opened #105 "Move to React v16.4.1"
Its time we move StepZilla to React 16.4.1 so we can inherit some new features.

@zeel I'll starting working on this, let me know if there are any new React v16.4.1 you'd like to see.

[2018-07-23 11:49] newbreedofgeek commented on #102
@chobo2 sorry for the delay.

StepZilla is "fairly" response out-of-the box, there is very little html markup as it just "wraps' your existing react "step" components:
https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L311-L339

So make sure your own step components are responsive and then wrap <StepZilla /> with your own responsive div.

Remember StepZilla does not have an

[2018-07-23 11:49] #102 closed

[2018-07-27 21:07] Queenie85 opened #106 "How to make the name of each step from the above of the progress bar to the below of it?"

[2018-08-03 07:03] RichardVitaliz opened #107 "Asynchronous"
How does `isValidated()` handle asynchronous field validation? For example: I want to check if the user's email is already registered and display an error message appropriately. I do this by firing a `fetch()` to my back-end. If ever it would return anything (ergo: the async part) would decide if the component should go to the next step. The next button triggers `isValidated()` which contains `fet

[2018-08-04 00:33] newbreedofgeek commented on #106
You can use CSS to do it. Just using plain old `position:relative` on the name or for a better approach look at using `flexbox`.

Basically you have full control of the CSS.

[2018-08-04 00:33] #106 closed

[2018-08-04 00:38] newbreedofgeek commented on #99
Thanks for picking this up.. you are correct. Does not change behaviour but CSS is mixed up. I will fix this soon.

[2018-08-04 12:44] lexstefan commented on #78
Would be nice if we can set a specific button on the last stept without having to add another step. Now that i just typed this, it sounds confusing. Basically the real last slide needs an cta that's not the back / previous button.

[2018-08-08 10:07] sajjanhubale commented on #29
I am also facing same issue while using redux. can you please let me know how to fix it?

[2018-08-23 07:07] Djuki commented on #92
@narendravenkata @zeel I has the same issue, and I saw that a lot of other people have this kind of issue as well.

I have seen several opened issues with the same topic without a proper solution. Is there some light at the end of the tunnel that we can hope for? Is there any hope that we can use redux and Stepzilla in the same project?

This is a great library and thanks for all the work you inve

[2018-08-23 12:24] danielsetreus opened #108 "Ability to set nextButtonText and backButtonText to components"
Hi

Would like to do something like:
[code]

Although this works, it gives a PropTypes warning (nextButtonText / backButtonText must be `string`) Could you make the validation so that it also accepts a react component?

[2018-08-23 19:50] spearconsult commented on #90
Hi, please advise,

I added the definition file in a 'types' folder under 'src'.
I used the regular 'npm install --save ...' method to add the module to the project.
I Added **import { StepZilla2 } from 'react-stepzilla';** to the beginning of the tsx file where I want to add the 'StepZilla' component.

When I remove the component from the page, there is no error, but when I try to use it, two err

[2018-08-24 03:50] AlluManikyam commented on #90
You can import the  stepzilla like this

import StepZilla2 from 'react-stepzilla'  instead of  import { StepZilla2 } from 'react-stepzilla';

[2018-08-27 07:54] rickerd commented on #33
How about that reset button?
Or can you just put the answers the null again?

[2018-08-28 15:56] danielsetreus commented on #107
`isValidated()` can also return a Promise. So I would do:

[code]

This example of course only works if your `fetch()` method also returns a Promise. If not you could implement a callback argument and have `fetch()` run the callback when the request is completed. Then `resolve()` or `reject()` in the callback. I.e.

[code]

[2018-08-28 19:33] dagi12 commented on #78
Affects me too if anyone bothers ;)

[2018-08-30 17:14] patorjk opened #109 "Setting onStepChange causes the "Previous" button to go away"
I noticed that when I set the onStepChange property the Previous disappeared from all of my steps. This was unexpected.

[2018-09-03 16:54] IfeOlogbese opened #110 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
This error is a result of the below.
[code]
where it breaks on `<StepZilla steps={steps} /> to fix it change commented statement to
```const StepZilla = require('react-stepzilla').default;```

[2018-09-05 00:27] jffin commented on #92
Same issue with i18next package in next.js project.

[2018-09-06 01:24] omesanni opened #111 "onStepChange function is not called"
When I pass the `onStepChange` prop to the Wizard, the function doesn't get called any time i enter a new step in the wizard.

Please how can this issue be rectified?

[2018-09-12 13:55] gtwilliams03 commented on #81
@newbreedofgeek It did - thank you!

[2018-09-13 06:10] tomtoxx commented on #110
Hey :smile:
You should use this:
```import StepZilla from "react-stepzilla";```

[2018-09-13 06:29] tomtoxx opened #113 "Suggestion: Change PropType of steps.name from string to object"
Hi there,
I want to suggest changing the PropType from String to Object type.
My change request arises because I would like to use FontAwesome components for the navigation steps.
And I think more flexibility is a good think.

[code]
![grafik](https://user-images.githubusercontent.com/8841596/45470264-6888b080-b72d-11e8-8552-b75a16bc29e8.png)

[2018-09-13 13:13] patorjk commented on #109
I just tried this today and it worked perfectly, I wish I would have posted the code I was using previously (sorry about that), because the Previous button was definitely disappearing. However, I can not seem to re-create the issue. If I come across it again I'll give a more detailed write-up. Thanks again for this awesome lib!

[2018-09-13 13:13] #109 closed

[2018-09-20 12:22] ghost opened #116 "State change problem with nextButtonText"
The problem occurs when the props of the Stepzilla component change due to a state change of the parent component. In this case, the navigation buttons are re-rendered, with the exception of the Next button. Its text is determined by the state of the Stepzilla component.

[2018-09-24 07:55] nidhijohar opened #118 "#Enhancement Conditional Navigation of the Step Components"
Have 16 steps or pages, need to show only a dynamic number of steps based on user input on each page.
[eg: like survey forms].

[2018-10-01 13:08] Sotrek commented on #65
Has anyone found why we are getting that error?

`Uncaught TypeError: Cannot read property 'isValidated' of undefined
    at StepZilla.stepMoveAllowed (main.js:318)
    at StepZilla.abstractStepMoveAllowedToPromise (main.js:341)
    at main.js:197
    at StepZilla.jumpToStep (main.js:242)
    at onClick (main.js:368)
    at HTMLUnknownElement.callCallback (react-dom.development.js:100)
    at Obje

[2018-10-01 13:09] Sotrek commented on #80
same here..

[2018-10-17 03:58] Frank-The-Tank opened #119 "How do you get the custom css to be used?"
I am able to use Step-Zilla but it looks weird as none of the css is recognized? I simply added react-zilla to my npm dependencies and did npm install

[2018-10-18 00:40] newbreedofgeek commented on #119
@Frank-The-Tank the CSS styling is seperate from the functionality. But we provide a starting point. Just copy this CSS into your existing stylesheet and you will be good to go:

https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/css/main.css

[2018-10-18 00:40] #119 closed

[2018-10-18 00:43] newbreedofgeek commented on #107
@danielsetreus thanks for your very clear explanation and appreciate your support in maintaining this project.

@RichardVitaliz you can have a look at this example code as well (@danielsetreus's code is also good)

https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Step5.js

Closing this, but reopen if you need more help.

[2018-10-18 00:43] #107 closed

[2018-10-18 01:03] newbreedofgeek commented on #113
@tomtoxx thats a very cool looking implementation of StepZilla, I didn't expect FontAwesomeIcon to be used with 'name'

Have you tested it? Does it work for you as intended? Do you see any error in the console? (except for the propTypes error?)

[2018-10-18 03:26] #111 closed, assigned to nobody

[2018-10-18 23:45] #113 closed

[2018-10-19 00:09] newbreedofgeek commented on #116
Sorry @tomtoxx I need more info on this?

How can I repo this? what impact does it have for the end-user that the buttons are re-rendered? is there an actual error?

[2018-10-19 08:02] tomtoxx commented on #116
If you use i18n, you give the translation function into the step components as props.

If the user now changes the language, the description of the Back button changes but not the description of the Next button, because it gets its description from the state and not from props.

[code]

The problem is this: ``{this.state.nextStepText}``

[2018-10-23 00:05] newbreedofgeek commented on #116
I see what you mean now - let me look into it. I'll use your PR as a guide.

[2018-10-23 03:16] newbreedofgeek commented on #116
@tomtoxx thanks for raising this issue - working on a fix for it made me see that I initially coded a very bad prop->state pattern, where prop changes had to be synced with state which drove the render. This is a very bad design pattern in react.

I have fixed this issue (i have tested it by changing the next / back button text half way through a step process). The fix is in a branch `issue-116`:

[2018-10-23 18:02] francisngo commented on #79
I would love to see this as well.

[2018-10-24 13:14] tomtoxx commented on #116
Your changes work great! :smile:

I integrated our i18n workflow into the examples and translated them into German.
The buttons now change the language without any problems!

[2018-10-25 19:10] IronTony commented on #55
So, any news about this problem?

[2018-10-26 00:23] #116 closed, assigned to nobody

[2018-10-29 07:01] IronTony commented on #80
same here...

[2018-10-30 20:39] altonotch commented on #54
I encountered this error too. Using version react-stepzilla `4.7.2`, redux-form version `7.3.0`.
I solved the problem by implementing a workaround.

[code]

[2018-11-01 09:04] tomtoxx opened #123 "v4.8.0 not published"
Hi again 😄
@newbreedofgeek, did you forget to release version 4.8.0 on npm?

Greetings, Tom

[2018-11-01 21:41] newbreedofgeek commented on #123
@tomtoxx tnx for the push - its now published.

Are you able to do a simple Redux example? I would really appreciate that...

[2018-11-01 21:41] #123 closed

[2018-11-11 18:49] illia108 opened #124 "How can I get Current Step index from within a Child Step Comp?"
Hi.
Is it possible to get a current step number inside step component?
What I'd like to do is to hide Next button in some components and use `jumpToStep` function instead. In these components I have two radio buttons. So as far as a selection is made it should take a user to the next step.

So I came up with this:
1. hide navigation with css as @newbreedofgeek suggested in some issue
2. then use `

[2018-11-11 22:46] newbreedofgeek commented on #124
@illia108 we could put in a static method to return this but would rather have more people request this feature before we update the core logic.

In the meantime.. there a hacky way to do this by reading the DOM rendered style, something like this:

[code]

Would that work? above code has not been tested... just a guide

[2018-11-12 11:32] illia108 commented on #124
Thank you @newbreedofgeek
Yesterday I ended up with just passing a currentStep (actually nextStep) into the step component.
`{ name: 'Step 2', component: <StepTwoRoutine name={ this.state.name } onSelect={ this.onSelect } nextStep={ 2 } /> }`

[2018-11-16 23:01] jorgecuesta commented on #13
My team and I get it working using Redux
[code]
this are own components:
[code]
But has nothing to be with the logic of Wizard it self.

[2018-11-19 22:49] tmartin2089 commented on #118
About to cross this bridge myself. Looks like there is a  jumpToStep() utility method, but you lose validation.

Redux is too heavy for what Im doing, else I'd be tempted to just go with redux form's Wizard form
https://redux-form.com/6.0.0-alpha.6/examples/wizard/

[2018-11-20 17:30] johnantoni commented on #86
that'll do thanks

[2018-11-20 17:30] #86 closed

[2018-11-22 07:51] srevoju opened #125 "Remove tick mark in li and add text in it"
Hi,
I need to add text inside round li (by increasing width - looks like a rounded button) instead of tick mark.and remove text out side li(which is on top)
Please help.

Thank you!

[2018-11-23 13:33] katyafervent opened #126 "Is it possible to dynamically change fields of the next step?"

[2018-11-26 14:49] brennondenny commented on #79
Also interested, what is the best way to go about doing this?

[2018-11-27 10:04] Krishi1110 commented on #125
Even I need to add text into li's, could any one please help!
Thank you in advance.

[2018-11-30 19:37] tabrindle commented on #80
I believe I have traced the probable cause of these errors.

Turns out that there is code that checks a react component's prototype for an `isValidated` method.

**The problem is that arrow functions `() => {}` do not have a prototype**

if you had a component like this, you would throw `Cannot read property 'isValidated' of undefined` because prototype doesn't exist here.

[code]

Long story shor

[2018-11-30 20:58] guitar9 opened #127 "new react stepper libary"
I have found a new libary for creating steps. https://github.com/tkwant/react-stepper-wizard

[2018-12-04 21:14] Jvalal opened #128 "Problems running with NPM Start"
Hello - Having problems running this after I download the repo.

![image](https://user-images.githubusercontent.com/3803053/49473310-91699080-f7c6-11e8-9b76-96f88b218b1a.png)

[2018-12-05 22:12] alex84G commented on #103
@francisngo Hi, I have the same requirement. Could you implement it?

[2018-12-05 22:51] alex84G opened #129 "Show URL path of the steps"
Hi,
is it possible to show the URL path of each step in the address bar of the browser? Or can stepzilla be mixed with React Router to show the URL paths of the steps?

[2019-01-08 21:42] brennondenny commented on #128
If you want to run the examples locally run `npm install` then run `npm run example` then go to [http://localhost:8080/webpack-dev-server/src/examples/index.html](http://localhost:8080/webpack-dev-server/src/examples/index.html) in your browser.

`npm start` doesn't work because there is no start script.

[2019-01-08 22:09] brennondenny commented on #125
The "text out side li" is the step name, so you can set that to "" if you want it to be empty.

[code]

To add text or remove the tick mark from the progress tracker, you can add css and html to the renderSteps return.

[code]

[2019-01-17 17:21] Khareem23 commented on #55
I'm experiencing this as well . My Step 4 is Plain not deplaying the page content but step 5 displays . is there a configuration i've to alter . immediate response would be appreciated Please

[2019-01-17 17:22] Khareem23 opened #131 "step 4 displays empty content"
My Step 4 is Plain not deplaying the page content but step 5 displays . is there a configuration i've to alter . immediate response would be appreciated Please

[2019-01-18 18:47] brennondenny commented on #131
Can you post a snippet?

[2019-01-18 19:17] Khareem23 commented on #131
I later got it to work . Is stepzilla now working with Redux without issues ?

Awaiting your reply... Thank you

Sent from my iPhone

On Jan 18, 2019, at 7:47 PM, Brennon Denny <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you post a snippet?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/newbr

[2019-01-18 19:24] brennondenny commented on #131
Yes, actually using it with Redux in a project I'm working right now.

[2019-01-18 19:39] Khareem23 commented on #131
Oh nice work Bro . God bless you . I used stepzilla for an Enterprise Web App I just completed and I really enjoyed it . It makes my work faster and nice .

I can’t wait to see it working with redux

Sent from my iPhone

On Jan 18, 2019, at 8:24 PM, Brennon Denny <notifications@github.com<mailto:notifications@github.com>> wrote:

Yes, actually using it with Redux in a project I'm working right now

[2019-01-19 11:02] farazirfan47 opened #132 "Question: How to know if next button is clicked or previous button ?"
I want to do some customization like sending/stopping server call based on next or previous button click, but only If I am able to detect which button is clicked.
Is there anything else we can receive as parameter rather than step number in onStepChange function ?

[2019-01-21 14:03] kristian2x commented on #77
And on the second step component, the button is changed to 'Select'.
+1

[2019-01-24 23:59] newbreedofgeek commented on #132
At this stage you can only use onStepChange function to get the step it changed to. You might be able to hoist a state option to the top... i.e the parent component that has <StepZilla> can have a custom state value to say if the step number went up or down, and the logic to change it... that way you know if next or previous was pressed.

So the parent has something like this: (code not tested...

[2019-01-25 00:00] newbreedofgeek commented on #131
@brennondenny tnx for helping @Khareem23

Also glad you have it working with redux... I'm working on a sample redux implementation now. Closing ticket.

[2019-01-25 00:00] #131 closed

[2019-01-25 00:05] newbreedofgeek commented on #129
Good question... I believe it will be possible by just using the browser's history API and hooking directly into onStepChange, but I cant confirm. You may be able to directly use RaactRouter API as well.

https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/examples/Example.js#L61

Let me know if you work it out and give us some code example, i'd like to have an example implementation

[2019-01-25 00:06] newbreedofgeek commented on #128
@brennondenny tnx for clarifying for @Jvalal

Closing this.

[2019-01-25 00:06] #128 closed

[2019-01-25 00:07] newbreedofgeek commented on #127
Thanks for sharing @guitar9

[2019-01-25 00:07] #127 closed

[2019-01-25 05:58] newbreedofgeek opened #134 "StepZilla + Redux (finally)"
Over the last many months there have been numerous issues raised relating to Redix support. Some claim that StepZilla does not work with with redux whilst others have got it working together. As part of this ticket, we will provide a working example on how to do it.

[2019-01-25 06:02] newbreedofgeek commented on #125
Thanks for the clarification.  Yes, the LIs only hold the “name” of the step. The rest is all done via CSS do you should be able to use CSS to do this. Closing for now.

[2019-01-25 06:03] #125 closed

[2019-01-25 06:08] newbreedofgeek commented on #118
This would be a great feature.

Have you tried using the jumpToStep() utility and a dynamic list of steps that update? It should “just work” as StepZilla works with an array of steps. But chances are you will lose HoC validation as it’s built to be explicitly tied to step index (not too happy about this hard coupling, but will have to do for now)

Let me know how you went? I would love to see a PR

[2019-01-25 06:10] newbreedofgeek commented on #110
I’m guessing @tomtoxx s recommendation fixed it. Closing this, pls reopen if it did not work.

[2019-01-25 06:10] #110 closed

[2019-01-25 06:16] newbreedofgeek commented on #97
Good question and tnx for the kind words.

I believe you are right. IsValidated does only work for forward movement. It was a design choice as it was initially built to be a wizard. (So move forward to fill the form and back to correct previous steps) - forcing validation on back step won’t be hard to do but will cause a lot of confusion for others who prefer the wizard workflow. I have not had an

[2019-01-25 20:00] newbreedofgeek commented on #126
You need to give more details on what you are trying to do so we can help.

[2019-01-28 22:56] newbreedofgeek commented on #132
Closing this for now.. pls reopen if needed.

[2019-01-28 22:56] #132 closed

[2019-01-28 22:58] newbreedofgeek commented on #129
I'll mark this as a enhancement as we always wanted a react-router example as well. I'll keep this open.

[2019-01-28 23:01] #124 closed

[2019-01-28 23:04] newbreedofgeek commented on #118
I'll keep this open... it would require an enhancement to make sure StepZilla support dynamic steps

[2019-01-28 23:10] newbreedofgeek commented on #105
This was done as part of #134 as it was needed for React-Router. Some refactor work is remaining, basically update all react code to follow React 16 code patterns.

[2019-01-28 23:13] newbreedofgeek commented on #100
Sorry for the delay in responding @billycrid

Just to clarify, you have StepZilla working with your app fine. But it does not work with another 3rd party app you are trying to include StepZilla into.

My guess would be an incompatible React version? Did you work it out?

[2019-01-28 23:14] #100 closed

[2019-01-28 23:15] newbreedofgeek commented on #73
Sorry - this does not make any sense. StepZIlla is just a wrapper for your react code, you can control everything in terms of behaviour.. this includes you cloud connection

[2019-01-28 23:15] #73 closed

[2019-01-28 23:17] newbreedofgeek commented on #55
does #134 fix this?

[2019-01-28 23:20] newbreedofgeek commented on #64
Sorry for the delay in responding, this might help #113

FontAwesomeIcon is used to customise the progress.

[2019-01-28 23:20] #64 closed

[2019-01-28 23:21] newbreedofgeek commented on #47
Closing as cant repro and no response.

[2019-01-28 23:21] #47 closed

[2019-01-28 23:41] #54 closed

[2019-01-28 23:42] newbreedofgeek commented on #54
Sorry for the delay everyone.. I have (finally) fixed this via PR #135

[2019-01-28 23:55] newbreedofgeek opened #136 "Update webpack dev server"
There is a low severity security vulnerability with current version - https://github.com/newbreedofgeek/react-stepzilla/network/alert/package.json/webpack-dev-server/open

So let update and test the latest WDS version.

[2019-01-30 02:36] newbreedofgeek commented on #125
@brennondenny on a side node, I've added you as a collaborator to this project as you have been helping a lot with solving tickets. Hope you accept and help us grow StepZilla.

[2019-02-05 17:38] JeanHules opened #138 "Is it possible to programatically change step outside of component?"
I have a navigation outside of the StepZilla component that corresponds with the steps, but need to control the steps from outside the StepZilla component. I see the jumpToStep utility, but that can only be triggered from inside.

Thanks and great job on the component!

[2019-02-14 09:21] olivermack commented on #58
Just a quick note: there's also an `<em>` element which is hidden in the default styles and shown on smaller screen. If you plan to use the workaround that @michaeladams stated you should ensure to include the `<em>` element as well.

[code]

[2019-02-21 14:31] tomtoxx commented on #97
Hi, I have the same problem right now. I would love to check the user when jumping back and if necessary not allow him to jump back.
I think it is essential that isValidated() can also be used for back navigation.
But isValidated should always know if it was called by the backButton or by the nextButton.
This gives the users of the library much more possibilities to use stepzilla flexibly.

[2019-03-01 21:52] sfblaauw commented on #63
Hi! I'm new using Reactjs but here is my [gist](https://gist.github.com/sfblaauw/cb00124bd0dbd0f0d474678aec618bfc) for persisting data.
Please @newbreedofgeek and @gate3  let me know if I'm in the correct path.
Thanks for the module, it is awesome!

[2019-03-08 15:27] rickerd-treehouse commented on #138
Maybe with `jumpToStep() `?

[2019-03-14 09:19] oprobst-ethz commented on #129
Would be really great!

[2019-03-15 20:51] tcole98 commented on #55
@newbreedofgeek As far as I'm aware, your fix still doesn't cover when passing a HOC (e.g. redux connected) as a step.

I'm still getting `Uncaught TypeError: Cannot read property 'isValidated' of undefined`

[2019-03-18 09:13] sjmir opened #139 "Custom css for stepzilla"
I am using Step-Zilla in a component for two different pages.
I need to keep different colors of the navigator for both Step-Zilla. there's only one CSS file used in the component. How can I customize CSS to handle this situation?

[2019-03-31 01:47] bradrisse commented on #77
Here is an example of the way I dynamically change the next button text for each section. Each time the `onStepChange` is called it updates the step index called `step` in the state. Which then is used with a corresponding index called `nextText` where you can enter in the next text for each section.

[code]

[2019-03-31 23:48] sanghvi-heenal opened #140 "React-StepZilla css does not work in redux connect"
I am working on a Event Registration form, right now moving code from basic  create react app to react-boilerplate(by max stoiber).
issue: stepzilla does not display the step navigation bar , instead shows just the numbers
0. 1
1. 2
 right css from progtrcktr of main.css is not fetched.Please help me with the issue

**StudentForm.js**
export default class StudentForm extends React.PureComponent {

[2019-04-02 09:21] Priam123 opened #141 "Navigating to steps based on a form's dropdown value"
How to use the jumpToStep function on pressing the next button in stepzilla? Control needs to jump to a step based on a form's dropdown value.
The example has links for jumpToStep but I want to link it to the **Next** button in StepZilla. Is it possible?

[2019-04-18 22:35] henyge opened #142 "how to use jumpstep() method example"
how to use jumpstep() method example

[2019-04-19 13:09] Lilian1331 commented on #80
hi i am facing the same issue. Any updates?

[2019-04-24 03:03] jagjitsingh700 opened #143 "What is step-progess css class?"
Hi,

I have seen in your documentation that this can be used in the application to use `react-stepzilla`:

[code]

I am not fully sure if `step-progress` is `CSS` class coming as a part of the `react-stepzilla` npm package or this is a CSS class I have to create myself? (Just got confused as StepZilla component is rendered inside a div with a class).

[2019-04-24 15:42] patorjk commented on #13
Is this feature still a priority? It would definitely be very useful.

[2019-05-02 09:01] senakafdo opened #144 "Update Bootstrap to v4.x.y"
Bootstrap v4 was released in January 2018, and it has a new and better structure compared to v3. A v5 would soon be available too. It would be best to start supporting the new versions of bootstrap alongside v3, or migrate to the newer version if possible.

[2019-05-03 05:56] hermanho opened #145 "Does not work with React.memo"
Example: https://codesandbox.io/s/w2rzy3jnv5

The step 2 component is defined with React.memo and it will throw error "Cannot read property 'isValidated' of undefined" .

[2019-05-14 01:16] jermsam commented on #72
Was this ever implemented?

[2019-05-28 00:21] mengqing commented on #118
Is it possible to dynamically add steps? I don't want to load all steps upfront (and is not possible).

What I'm after is the ability to insert more step components during the process from eg: remote data

[2019-06-27 07:34] newbreedofgeek commented on #145
Thanks for providing the demo URL - it probably has to do with how we deep search for isValidated https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L242

memo is wrapping you component and this is breaking the linkage.

Did you work out a fix? if not I can look at it... but it will take me some time due to a overload in work.

[2019-06-27 11:03] hermanho commented on #145
I replace with PureComponent class approach.

[2019-07-12 10:17] oprobst-ethz commented on #97
Hi! Thanks for this great lib. Would also love to do validation when going "back" in the wizard.

[2019-07-23 12:57] #140 closed

[2019-07-23 13:36] luluanacarla commented on #134
Hi!
The `isValidated` func is not is not being triggered when using redux. Im not getting any error, just the function is not being called when changing step. Without redux works perfectly
What can I do?

[2019-07-31 06:02] MithleshDhore opened #147 "Is it possible to create sub steps within a step"

[2019-08-01 12:30] Mina161 commented on #65
this worked out for me

`import validation from 'react-validation-mixin';
import strategy from 'joi-validation-strategy';

//your step component goes here

export default validation(strategy)(your-step-name)`

you need to install react-validation-mixin and joi-validation-strategy first

[2019-08-12 18:35] zeel commented on #72
If we do this change then we need to change prop name. It can't be backButtonText.

We can introduce new prop here `backButtonNode` and `nextButtonNode`. If these two are present then it will have more priority over text.

@jermsam @gtwilliams03 @newbreedofgeek any thoughts on this implementation? I can start with this approach.

[2019-08-17 14:12] AliSultanKhan opened #148 "How i can get last step"

[2019-08-20 09:34] zeel commented on #148
@AliSultanKhan Can you clarify more.

Do you want to navigate to the last step directly?
You can use jumpToStep prop passed to step component.

Thanks!

[2019-08-20 12:46] zeel commented on #81
@newbreedofgeek I have updated PR with the fix. Please check once.

[2019-08-21 11:07] nttoan26 commented on #138
jumpToStep() can only be called inside step component. I do believe this is a limitation of StepZilla, I ran into the same situation, even though I can work around by passing jumpToStep() outside but it's a ugly solution. No official solution so far. This is a very common use case.

[2019-08-21 11:12] nttoan26 commented on #148
I think the question is how a step know which activeStep is now.

[2019-08-24 15:15] zeel commented on #148
@nttoan26 @AliSultanKhan `onStepChange` gives index of step on which currently user is present as a function's argument.

I guess You can use this argument to get last active step by subtracting 1.

Let me know if any further help is needed.

[2019-08-24 15:15] #148 closed

[2019-08-24 15:28] zeel commented on #147
@MithleshDhore Not possible as of now. I think you can use ReactStepZilla inside one of your component to have sub steps. Checked with different React stepper, but nobody is providing this functionality.

[2019-08-24 15:28] #147 closed

[2019-08-24 16:57] zeel commented on #145
Opened pull request for this at [link](https://github.com/newbreedofgeek/react-stepzilla/pull/149)

[2019-08-24 17:00] zeel commented on #143
@jagjitsingh700 It's just a class. It doesn't convey any purpose. There is no css attached to this class.

[2019-08-24 17:00] #143 closed

[2019-08-24 17:11] zeel commented on #142
You can check this [link](https://codesandbox.io/s/react-stepzilla-jumptostep-example-26fje). In step 2, if you click on `Go to Step 1` it uses `jumpToStep` prop.

[2019-08-24 17:11] #142 closed

[2019-08-24 17:26] zeel commented on #141
You can use `isValidated` method to check dropdown value and use `jumpToStep` method inside it.

[2019-08-24 17:26] #141 closed

[2019-08-24 17:27] zeel commented on #139
You can provide different wrapper class to both the components and give the different css for them.

[2019-08-24 17:27] #139 closed

[2019-08-24 17:53] zeel commented on #136
as pr is merged closing this issue.

[2019-08-24 17:53] #136 closed

[2019-09-03 13:45] agurczuk opened #150 "showNavigation=false should remove the footer buttons rather than just hiding them"
When the flag for ShowNavigation is set to false what results in the output is a

`<div style="display: none" class='footer-buttons'> ... </div>`

What should happen is the whole block should be removed from the DOM i.e.

`this.props.showNavigation && <div className='footer-buttons>...</div>`

Use case:
With the current approach the buttons are in the DOM. In my case when I nest the StepZilla insi

[2019-09-07 01:12] newbreedofgeek commented on #145
This should be fixed now (hopefully).. after PR #149 was closed

[2019-09-07 01:12] #145 closed

[2019-09-16 13:57] TheAksh opened #151 "Reset Stepzilla in React in modal"
I have implemented StepZIlla in React, and in a modal component. Everything works well except for the fact that the StepZilla wizard doesn't begin from Step 0 after I open the modal, proceed a few steps further, close and reopen the modal. Yes, the "startAtStep={0}" is present in the configuration. Any guidance would be appreciated. I need the modal to open up StepZilla at Step 0 always .

[2019-09-17 08:46] mehrdad-parsa68 opened #152 "Props to steps"
Hi
Could you please inform me how can I pass props to steps components ?

Best regards

[2019-09-19 06:51] #81 closed

[2019-09-19 06:57] newbreedofgeek commented on #81
fixed in #94 - thanks @zeel

[2019-09-19 07:08] newbreedofgeek opened #153 "[BUG] stepsNavigation allows you jump past steps that need validation"
**Describe the bug**
There has been some regression after last few PRs, you can now directly jump past steps that need validation (when you use the top navigation links via stepsNavigation)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the Dev server or go to live demo https://newbreedofgeek.github.io/react-stepzilla/
2. Click on 'step 6'
3. It goes directly to Step 6, even though Step

[2019-09-20 12:22] pyprism opened #154 "Module not found: Error: Can't resolve 'promise' in '"
When I try to run npm , it throws this error :

[code]

Here is package.json :

[code]

Root component:

[code]
and step component:

[code]

[2019-09-22 00:18] dmbrooking opened #155 "Validation in a functional component (when using React Hooks)"
I'm using hooks so utilizing functional components. I'm trying to figure out how to define the public `isValidated` function needed for validations (I don't think I actually can with a functional component?).

I've defined the function internal to the component, both as `function isValidated()....` and `const isValidated = () =>`... also defined the function outside the component. Nothing is worki

[2019-09-22 01:38] newbreedofgeek commented on #155
Good question @dmbrooking - I've been meaning to get StepZilla working with Function components + Hooks, I believe it should work fine if you are not doing validation via isValidated and just do some component rendering?

Is the issue only when you want to enforce validation with the location isValidated method?

Can you provide me with some quick sample code so I can reproduce this issue and then

[2019-09-22 11:23] dmbrooking commented on #155
Sure. This is my component.... it' pretty simple, just a single input that needs to have some value entered in it. I also tried `required` on the `input` but since the stepzilla progress buttons aren't linked to the form itself, that required isn't triggered.

[code]

I've tried the following variations:

[code]
and
[code]

[2019-09-22 13:38] dmbrooking commented on #155
How would I enforce the validation without using `isValidated`? I'm open to that idea as well, just can't figure out how....

[2019-09-25 12:33] udaykirangv opened #156 "Hide Particular Step in Navigation bar"
Hi,

With the navigation enabled is there any way of hiding a particular step at a given time?

[2019-09-26 12:02] marijnbent commented on #154
Just to here to say I experienced this problem as well. Fixable by adding the 'promise' package.

[2019-10-07 17:41] zeel commented on #153
fixed this issue by using correct logic.

[2019-10-07 17:58] zeel commented on #155
@dmbrooking @newbreedofgeek You can write like as following.

[code]

[2019-10-08 00:44] dmbrooking commented on #155
@zeel That's not working. Can we re-open this issue?

[2019-10-21 09:56] Dshah-bb commented on #97
+1

I will need the action on back button, just to make the user aware he is going back without saving the changes. Will be of great help!

Thanks for the wonderful library.

[2019-11-06 17:27] ajendrex commented on #30
Hello, I got into this problem because `startAtStep` value changed after StepZilla's constructor ran. I was able to manage it by using `startAtStep={startStep} key={startStep}` props. Please let me know if you think this solution is fine or if you have a better idea...

Thanks for your work!

[2019-11-07 22:34] masudiiuc commented on #155
I am facing the same issue. `isValidated` method is not get called when you try to submit the form. This is perfectly working fine with `Class component`.

[code]

[2019-11-09 02:06] newbreedofgeek commented on #155
@masudiiuc @dmbrooking  I'm working on this now

[2019-11-11 00:35] newbreedofgeek commented on #155
@masudiiuc @dmbrooking @zeel an update on this.

I spent some time looking at this yesterday, unfortunately there is no "easy" fix. I'll give some context so others who come here will know why.

When I first built StepZilla there were only Class Components, when React had "pure, functional components" they built those in a way that they did not have any coupling with the parents components. To pro

[2019-11-11 00:40] dmbrooking commented on #155
@newbreedofgeek thanks. I had done some digging of my own to see if this was something i could implement and basically came to the same conclusion... just didn’t know if my conclusion was right or not as I’m still figuring hooks out.

For the time being I’ve implemented something custom but it’s not as featured as what Stepzilla offers - so while I’m good for now I do look forward to when I can sw

[2019-11-11 03:55] kedessa commented on #155
@newbreedofgeek Are you also able to make the jumpToStep utility available to be imported i.e. `import StepZilla, {jumpToStep} from "react-stepzilla"; `
so that we can use that function in a functional component? I've created custom forward and back buttons to handle the validation, but I'm unable to change steps.

[2019-11-12 05:39] newbreedofgeek commented on #155
@dmbrooking I am close to resolving this - I'll keep you posted.

@wevvin jumpToStep WILL WORK in functional components, as seen in this example:
https://github.com/newbreedofgeek/react-cra-hooks-stepzilla/blob/master/src/HooksWithValidation.js

Let me know if you have any issues

[2019-11-12 07:21] wevvin commented on #155
@newbreedofgeek Thanks for that! I'm trying to get it to work so that I can have the navigation at the same level as the `<StepZilla>` component, and because it passes the `jumpToStep` function through as a prop, I imagine it's not possible to do this?

`<Fragment>
          <StepZilla steps={steps} endAtStep={7} prevBtnOnLastStep={false} preventEnterSubmission={true}
                     nextText

[2019-11-14 01:53] wevvin commented on #155
@newbreedofgeek Nevermind, I managed to get it all working. 👍

[2019-11-14 09:07] zeel commented on #155
@wevvin I don't think you can change steps outside of stepzilla. But if you found out can you share it here?

[2019-11-19 21:47] keplerk commented on #155
Not sure if this could helps, but what i did its query for next button inside my functional component and apply a logic in order to determine if i manually disable it or not.

Dirty fix, but it works.

Regards.

[2019-11-24 11:59] mrkchang commented on #63
I don't think this works for going backwards

[2019-11-25 01:45] keplerk commented on #91
The only way i found to do this, its inserting a button by myself on useEffect event

`const parent = document.querySelector("div.multi-step div.footer-buttons");
 const button = document.createElement("button");
 button.classList.add(...["button", "is-danger", "pull-left"]);
 button.innerHTML = "Cancelar";
 button.id = "btnCancel";
 parent.prepend(button);
`

It's a very dirty way to handle it, b

[2019-12-09 18:53] TheAksh commented on #129
Any update on this please?

[2019-12-10 11:56] valefumiwlf46 commented on #138
Are there some news about this problem/limitation ?

[2019-12-10 23:10] brennondenny commented on #152
Add Item to State:

[code]

Pass state into step component:

[code]

Access it in the component with:

[code]

[2019-12-11 15:33] brennondenny commented on #151
You could have it use the [jumpToStep() utility](https://github.com/newbreedofgeek/react-stepzilla#jumptostep-utility) before the modal is displayed to have it start at 0 again.

[2019-12-17 10:42] alkafaiz opened #158 "Separate step-bar and form component"
for easiness of UI customization, it will be great to just export the step bar and forms in different component. rather than defining it through API which can only toggle between visible and invisible.

[2019-12-18 14:00] yarivShamash opened #159 "Accessing the typed in info"
I am a junior developer and started using your library recently.
Hope it's not too much of a layman question..

**Description**
I am transferring a single page form to a step by step from using your library.
In the former code `e.target.elements` stored all the information from the form-elements after pressing the submit button, now it returns undefined.
How should I pull the submitted info?

[2019-12-19 20:17] brennondenny commented on #159
If I'm understanding this right, you should be able to see all your data in the state/store.

[2019-12-20 22:18] igor-plotnikov commented on #80
Is this supposed to be fixed now? I've just tried using the component installing it via npm, and see the same crash.

[2020-01-02 11:06] yarivShamash commented on #159
Thanks for the rapid response and apologies for my late one..

I tried passing
[code]
To the `<form onSubmit={this.handleSubmit}>` that wraps `<StepZilla preventEnterSubmission={true} steps={steps} />`
and got an empty state _after filling_ the form.
I also tried to ` console.dir(StepZilla.state)` but got `undefined`.

Since I might have not explained correctly I am trying again.
As described abov

[2020-01-03 22:27] brennondenny commented on #159
You should not be wrapping StepZilla inside a form.

You should be using the step components, you can create a submit function that handles the submit just be sure to pass it to the component.

You should be able to use `this.state` in your main file but in order to access it in the components you need to be passing it in props.

Let me know if that help or if you have any more questions.

[2020-01-05 10:14] yarivShamash commented on #159
Thanks mate :)
I sorted it out by setting the input information to the parent state. All methods are there (the parent) as well and are passed as props to the children (the form steps).

[2020-01-05 10:30] brennondenny commented on #159
Glad you got it working!

[2020-01-05 10:30] #159 closed

[2020-01-07 07:57] vbtux commented on #118
How can I add steps dynamically?

[2020-01-31 15:51] Stolr commented on #34
Hey guys ,

Having the same issue.

MainComponent :
[code]

My step 5
[code]

And having this issue :
[code]

Issue seems to be here
[code]
![image](https://user-images.githubusercontent.com/3446318/73553268-f2800900-4449-11ea-8fd6-31e07da4f56c.png)

My knowledge in React is very limited , so  might be something I'm doing wrong ?

[2020-02-02 11:40] austinStan commented on #118
how can i display an alert on every page

[2020-02-13 17:34] terrykyee commented on #34
This is a pretty important issue for myself as well. Our group specifically chose this component for its validation capability, and I'm running into this same issue.

[2020-03-11 01:04] TonyWu5 commented on #89
Another approach to this is to utilize the `step` that gets returned from `onStepChange` and conditionally change the `nextButtonText` based on the `step`.

`
const SetupWizard = props => {
  const [nextBtnText, setNextBtnText] = useState('Agree & Continue');

  const onStepChange = step => {
    if (step !== 0) {
      setNextBtnText('Save & Continue');
    } else {
      setNextBtnText('Agree &

[2020-03-12 14:28] Stolr commented on #134
Hey ,

Same here function does not seems to be triggered

Seems that `this.refs` is empty

[2020-03-14 08:06] newbreedofgeek commented on #158
this would require a rebuild - making StepZilla declarative. i'll close this but flag it as something we will consider

[2020-03-14 08:06] #158 closed

[2020-03-14 08:07] newbreedofgeek commented on #156
not enough detail provided

[2020-03-14 08:07] #156 closed

[2020-03-14 08:22] newbreedofgeek commented on #151
closing for inactivity

[2020-03-14 08:22] #151 closed

[2020-03-14 08:23] newbreedofgeek commented on #152
thanks @brennondenny - closing due to OP inactivity

[2020-03-14 08:23] #152 closed

[2020-04-14 12:49] taruntrivedi commented on #138
how did you manage to do that..  please help! @nttoan26

[2020-04-17 15:04] hamed-farag commented on #55
Any updates regarding this issue, I have the same issue when I use withTranslation HOC (react-i18next)

[2020-04-22 02:29] Dewar0019 commented on #34
Think there is a calculation error somewhere. I was trying to trigger isValidate() for my first step but it always failed on the line mentioned above
`proceed = this.refs.activeComponent.refs.component.isValidated();`

I changed `hocValidationAppliedTo={[0]}`  to `hocValidationAppliedTo={[-1]}`  and it started working 🤷

[2020-05-19 20:11] rahulgrover-cn opened #160 "[BUG] Navigation Bar is plain HTML (No customization)"
**Describe the bug**
The navigation bar shows only the step numbers. Though, clicking on them takes you to the desired step but it's not customised

**Expected behavior**
![image](https://user-images.githubusercontent.com/64029520/82373269-f9537b80-9a3a-11ea-96f9-f38e118bf36b.png)

**Screenshots**
![image](https://user-images.githubusercontent.com/64029520/82373005-8944f580-9a3a-11ea-83b6-45962d70

[2020-05-25 16:16] apurvsamant opened #161 "Hide or Inactivate Steps"
Hi, Firstly thanks a lot for creating the Stepzilla package as it's very useful and helpful. I had a question with regards to controlling the steps:

Can you please let me know if there's a way to control steps? For eg: On selection of a specific value from a dropdown list in Step 1 can make Stpe 2 inactive or hide it

[2020-05-25 22:12] tahaYassineM commented on #92
Is this issue has a solution or not yet?

[2020-06-07 18:26] pavan333 opened #162 "The ref is not working, also does not work in case of Redux"
https://github.com/newbreedofgeek/react-stepzilla/blob/fe6b740be3bfe2a411266687545a2b6fa1ca9696/dist/main.js#L303

I had having issue that the function isValidated was not being called when the step was being changed. The console was showing an error on this line that the call to undefined function isValidated.

After debugging, I removed the Redux connect from the step component and also changed

[2020-06-17 23:02] scumah commented on #160
You need to add [this CSS](https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/css/main.css) for the progress bar to look like that.

[2020-06-18 15:23] #160 closed

[2020-07-26 00:59] riyadshauk commented on #90
Thanks @malafreniere for the *.d.ts file. I was having problems with that exact file. After some trial/error, here's a minimal set-up that works with me (transpiles, works fine in the VS Code IDE):

[code]

[code]

[code]

I'm not a pro with TypeScript, so I had to search around and figure out how to get it all to work together. This SO link helped me get there: https://stackoverflow.com/questions

[2020-07-26 14:55] Horizon37 commented on #80
@dk4210, today, I had the same problem and after some debugging on the code, I realized that the package(react-stepzilla) cannot find the `isValidated` property since it cannot find the step component's **prototype**. This was because my component, that is used in step, was a functional component

`
const FeedbackSelfThanks = (props) => {
   return 'Something',
`

I changed the component to class

[2020-07-26 14:56] tarsusi commented on #80
@dk4210, today, I had the same problem and after some debugging on the code, I realized that the package(react-stepzilla) cannot find the isValidated property since it cannot find the step component's prototype. This was because my component, that is used in step, was a functional component

`const FeedbackSelfThanks = (props) => { return 'Something'; }`

I changed the component to **class** one:

[2020-07-29 16:00] VadimKulyba commented on #162
for me too

[2020-10-07 06:47] rajatmadaan786 opened #163 "Default styling not coming"
When I am using "**react-stepzilla**", It's default styling not coming. Even I was not able to find like, Do I have to import any css file for the same.

Below are the attachments of, How it looks like at my side.

![secondStep](https://user-images.githubusercontent.com/60581494/95296718-e54bd180-0896-11eb-8f99-7e312e99fd64.PNG)

![firststep](https://user-images.githubusercontent.com/60581494/9529

[2020-10-08 11:46] rasfdeveloper commented on #30
Can you be more specific about how you solved this problem?

[2020-10-08 22:22] brayden2544 commented on #163
Having the same issue.

[2020-10-09 07:03] rajatmadaan786 commented on #163
@brayden2544 , I have fixed it by copying the main.css file from node_modules in my development folder.

[2020-10-27 13:45] AbhaysinghBhosale opened #164 "[Feature] How to make it to have vertical stepper"
**Expected behavior**
Need to have option where we can pass prop and convert it as vertical stepper.

**Additional context**
Trying to use it as vertical stepper but not able to convert is with css as both stepper and components are in single wrapper. Is there any way to have prop by which we can convert stepper to vertical one

[2020-11-03 14:51] AbhaysinghBhosale commented on #155
@newbreedofgeek is there any update on this. still i am not able to get it working with functional component where last step i used class component and it works there

[2020-11-04 21:23] newbreedofgeek commented on #155
@AbhaysinghBhosale sorry, still working on getting validation to work on hooks component - unfortunately no ETA yet, glad you have a workaround in the meantime

[2020-11-04 21:25] newbreedofgeek commented on #163
@rajatmadaan786 yes - that is the solution. Or get it from the github source. It’s basic CSS that you copy into your solution and update as needed

[2020-11-04 21:25] #163 closed

[2020-11-04 21:27] newbreedofgeek commented on #164
@AbhaysinghBhosale i like the idea of vertical stepper, have you not been able to achieve this with CSS?

[2020-11-04 21:34] newbreedofgeek commented on #144
Thanks for the suggest @senakafdo a the core StepZilla component itself is unopinionated when it comes to styling libraries like bootstrap as you can see from the core code HTML:
 https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js

You must mean bootstrap as used in the example pages and test harness? I’m closing this as I don’t think it’s a core issue to StepZilla component

[2020-11-04 21:34] #144 closed

[2020-11-04 21:36] newbreedofgeek commented on #79
Sorry for the delay - great idea, this feature should be mandatory and I’ll look into to after I get this library to work with hooks

[2020-11-16 11:02] zeel commented on #79
@newbreedofgeek I can help here if you need.

[2020-11-16 13:09] zeel commented on #108
created pr for same.

[2020-11-17 07:22] newbreedofgeek commented on #79
Hi @zeel - thanks! Yes, your help is appreciated.

Let’s do some solution design first between us:

How I would do it:

1) we need to capture “deep link” state of each step:
E.g:
Step 1 deep link:
mysite.com/stepzilla-page.html#s1

Step 2 deep link:
mysite.com/stepzilla-page.html#s2

...

Step 9 deep link:
mysite.com/stepzilla-page.html#s9

Should be easy to do this by adding an hash. This is so t

[2020-11-18 15:58] zeel commented on #79
@newbreedofgeek seems feasible with your approach. maybe whole feature can be added behind one prop so if someone don't want this feature, it won't pollute browser history.

I will try this from master branch and update here. Hope it won't conflict with React hooks development

[2021-02-02 12:26] arslan-egenienext commented on #155
@newbreedofgeek any update on validation for functional components with react hooks

[2021-02-04 17:52] Zipikinho commented on #155
@newbreedofgeek, any update on this? I have to use function component unfortunately :/

[2021-02-22 18:37] apurvsamant commented on #161
Thanks a lot for the reply.

[2021-02-22 18:42] Naghal opened #166 "[BUG] Wrong class applied to progtrckr li"
**Describe the bug**
When you have conditionnal steps and the navigation bar is enabled, when a step goes from hidden to visible, the class `progtrckr-undefined` is added to the last li element instead of `progtrckr-todo`.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a conditonnal step defined initially
2. Make it a valid condition so it is now visible
3. See, the wrong class is appl

[2021-02-22 18:48] Naghal commented on #166
Meanwhile, as a workaround, I am adding the .progtrckr-undefined class in my css as the same as prgtrckr-todo.

[code]

[2021-03-26 10:17] Hawerrr opened #167 "On click UI navigation on top get undefined value"
latest version

When i click Top navigation, onStepChange return with undefined value.
And top navigation lose focus

[2021-04-12 04:55] KausDobs commented on #155
Any update on Function based component? hope you have done it!

[2021-05-07 14:04] AbhaysinghBhosale commented on #164
@newbreedofgeek Yes. I did made it vertical but not with only css. As just with css its not possible cos for vertical we need 2 rows
 I did overwritten this library file and converted it into vertical stepper with some additional css.

Will be converting it to change based on props. so with just prop should be able to make it vertical and horizontal

[2021-06-27 05:07] newbreedofgeek commented on #155
Finally got this all working in a branch I am about to commit to! After this is merged and tested StepZilla's isValidated feature will work with both Class components and Hooks based Function components. Stay tuned...

[2021-06-27 05:14] newbreedofgeek opened #168 "Major Release v7"
This major release will deal with the following:

## Product updates:
- get the validation feature (isValidated method) working for React Hooks component (this has been a major issue where StepZilla could not be used in latest React projects built using hooks) - will finally address this - #155

## Dev Environment:
- upgrade react libs to v17
- new recommended node is > v12
- convert the core Step

[2021-06-27 10:39] #155 closed

[2021-06-27 10:49] newbreedofgeek commented on #168
Done and dusted!

You can use React Hooks now in all it's glory with StepZilla!

[2021-06-27 10:51] #168 closed

[2021-06-27 10:53] newbreedofgeek commented on #105
Closing as we are on React ^17.0.2 now with StepZilla V7.0.0

[2021-06-27 10:53] #105 closed

[2021-06-27 10:54] newbreedofgeek commented on #155
Everyone - this is now done and dusted. StepZilla v7.0.0 will now work with Hooks components (with support for validation as well)

[2021-08-24 21:51] stevenarevalo opened #177 "[BUG] progtrckr not being added on <li>"
**Describe the bug**
The progtrckr- class in `<li>` is not being added:
![image](https://user-images.githubusercontent.com/79937413/130695684-bac774ca-b85b-4319-83e6-5e51b58978a4.png)
And also the next button is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. I just imported the library in my React app and I also  imported the css styles  file

**Expected behavior**
It should sh

[2021-08-25 13:48] newbreedofgeek commented on #177
Hi @stevenarevalo - thanks for the detailed bug report.

This is a strange one as I cant repro it.

- Do you see any JS errors in the browser console? FYI this is where classnames for the Li's are created: https://github.com/newbreedofgeek/react-stepzilla/blob/master/src/main.js#L265
- Do your footer buttons have classes? as classes are set in a similar way to the Li :https://github.com/newbreedof

[2021-09-03 04:11] newbreedofgeek commented on #177
Closing this as there is no response and cant repro - reopen if its still an issue with more details

[2021-09-03 04:12] #177 closed, assigned to nobody

[2021-09-03 04:13] newbreedofgeek commented on #167
@Hawerrr  sorry for the delay - did you resolve this? if not - can you provide more details...

[2021-09-03 04:16] newbreedofgeek commented on #166
@Naghal sorry for the delay.

Glad you found a CSS fix - but we will fix this in code soon. I'll keep the ticket open

[2021-10-21 09:17] newbreedofgeek commented on #38
Closing this one as it's been a long time - pls reopen if it's seen again

[2021-11-17 05:28] packaging03 commented on #63
This is excatly what I did that make it workfor normal text input field. However, it does not work on <Select> Input field.

[2021-12-30 18:56] gtwilliams03 commented on #108
Is there any update on this feature request?  The PR is still open and I still get warnings setting `backButtonText` and `nextButtonText` to components instead of text.  I also opened #72 on this issue also and @zeel mentioned that there might be a `backButtonNode` and `nextButtonNode` option?  Thanks!  I use this library in multiple projects.

[2022-03-11 16:29] isaacpalka commented on #118
👍 This would be a great enhancement

[2022-03-16 07:25] Poojatilekar opened #186 "Show Navigation step On Load and Show Activated step as selected Node"
![image](https://user-images.githubusercontent.com/72187397/158536748-094f2a84-fffd-433b-8ba2-fe74e87a3d05.png)
Please check above screenshot when I have loaded above page the Navigation Step is not visible. it is visible when I have press on Next click. I want to show Navigation Bar when page is getting loaded.
For More reference pls check attached image 2 This is visible on Next button click.
![

[2022-03-18 17:18] mhkasif opened #187 "[Bug]: Form Validation with formik"
**Describe the bug**
I'm using `Formik` and `Yup` for handling form and validation. The problem is that , I've implemented my own buttons in each component with type="submit" and each component has the `<Formik>` component.

When I press the `Enter` key, I want this button to be performed but it is not working.
It just takes me to another step without calling the function I add on `onSubmit`

If I

[2022-06-13 08:27] sekharsr commented on #13
This feature would be nice to have.

[2022-10-17 11:59] #65 closed